
    {% extends 'base.html' %}
    
    {% block title %}
      
      <title>Nimusoft | Login </title>
    
    {% endblock %}
    
    {% block page_loader %}
    
    {% endblock %}

    {% block loading_script %}
    
    {% endblock %}
    
    
    {% block header%} 
    <!-- Navbar -->
    <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page -->
    <header id="gradient" class="header navbar navbar-expand-lg bg-light navbar-sticky">
    <div class="container px-3">
        <a href="/" class="navbar-brand pe-3">
        <img src="https://cdn.nimusoft.com/nimusoft/assets/img/nimusoft-logo.svg" width="120" alt="Nimusoft">
        
        </a>
        
        <div id="navbarNav" class="offcanvas offcanvas-end">
        <div class="offcanvas-header border-bottom">
            <h5 class="offcanvas-title">Menu</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        
        <div class="offcanvas-body">
            <ul class="navbar-nav nav-custom-right mb-2 mb-lg-0">
            
            
            
              <li class="nav-item">
                <a href="/" class="nav-link">Home</a>
            </li>

            
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Services</a>
                <ul class="dropdown-menu">
                
                
                <hr style="margin-top: -9px;">
                <li style="margin-bottom: 8px; margin-top: 8px;">
                    
                    <a href="{% url 'home:medical_solution' %}" class="dropdown-item">Medical Solution</a>
                
                </li>
                <hr>
                
                <li style="margin-bottom: 8px; margin-top: 8px;"><a href="{% url 'home:mobile_app' %}" class="dropdown-item">Mobile App Development</a></li>
                <hr>
                <li style="margin-bottom: 8px; margin-top: 8px;"><a href="{% url 'home:erp_solution' %}" class="dropdown-item">ERP Solution</a></li>
                <hr>
                <li style="margin-bottom: 8px; margin-top: 8px;"><a href="{% url 'home:e_commerce_solution' %}" class="dropdown-item">E-commerce Solution</a></li>
                <hr>

                <li style="margin-bottom: 8px; margin-top: 8px;"><a href="{% url 'home:cyber_security' %}" class="dropdown-item">Cyber Security</a></li>
                <hr>

                <li style="margin-bottom: 8px; margin-top: 8px;"><a href="{% url 'home:data_analytics' %}" class="dropdown-item">Data Analytics</a></li>
                
                <hr>
                <li style="margin-bottom: 8px; margin-top: 8px;"><a href="{% url 'home:iot_and_vr' %}" class="dropdown-item">IOT & Virtual Reality</a></li>
                
                
                <hr>

                <li style="margin-bottom: 8px; margin-top: 9px;"><a href="{% url 'home:cloud_services' %}" class="dropdown-item">Cloud Services</a></li>
                <hr style="margin-bottom: -9px;">
                
                
                </ul>
            </li>
            
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Industries</a>
                <ul class="dropdown-menu">
                
                
                <hr style="margin-top: -9px;">
                <li style="margin-bottom: 8px; margin-top: 8px;">
                    
                    <a href="{% url 'home:education' %}" class="dropdown-item">Education</a>
                
                </li>
                <hr>
                
                <li style="margin-bottom: 8px; margin-top: 8px;"><a href="{% url 'home:real_estate' %}" class="dropdown-item">Real Estate</a></li>
                <hr>
                <li style="margin-bottom: 8px; margin-top: 8px;"><a href="{% url 'home:construction' %}" class="dropdown-item">Construction</a></li>
                <hr>
                <li style="margin-bottom: 8px; margin-top: 8px;"><a href="{% url 'home:healthcare' %}" class="dropdown-item">Healthcare</a></li>
                
                <hr>
                <li style="margin-bottom: 8px; margin-top: 8px;"><a href="{% url 'home:robotics_and_ai' %}" class="dropdown-item">AI & Robotics</a></li>
                
                <hr>
                <li style="margin-bottom: 8px; margin-top: 9px;"><a href="{% url 'home:e_commerce' %}" class="dropdown-item">E-commerce</a></li>
                <hr style="margin-bottom: -9px;">
                
                
                </ul>
            </li>
            
            
            <li class="nav-item">
                <a href="{% url 'home:case_studies' %}" class="nav-link">Case Studies</a>
            </li>
            
            <li class="nav-item">
                <a href="{% url 'home:about' %}" class="nav-link">About Us</a>
            </li>

            <li class="nav-item">
                <a href="{% url 'home:contact' %}" class="nav-link">Contact Us</a>
            </li>
            
            <li class="nav-item">
                <a href="{% url 'home:career' %}" class="nav-link">Career</a>
            </li>
            

            
            
            </ul>
        </div>
        
        <div class="offcanvas-header border-top">
            
          
            <p style="margin-top: -8px; margin-bottom: -8px; margin-left: 27px;">Nimusft Technologies Ltd.</p>
        
         
          
        </div>      
        
      
      </div>
        
        
        
        
        <button type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span style="margin-top: -8px;" class="navbar-toggler-icon"></span>
        
        <p style="margin-top: 14px; font-size: 9px;">Menu</p>
        
        </button>
        
        
        
    </div>
    </header>
    {% endblock %}
    
    
    
    {% block main %}
    <!-- Page content -->

    <div class="container">

        <div class="row">

            <div class="col-md-4">

            </div>

            <div class="col-md-4">

               
               
               
                {% if messages %}
                {% for message in messages %}
                
                <div style="margin-bottom: -40px;" class="alert alert-{{ message.tags }} text-center" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
               
               
                
                <div class="d-flex flex-wrap h-100 pt-5">
                    <div class="w-100 align-self-end pt-1 pt-md-4 pb-4" style="max-width: 526px;">
                      <h1 style="margin-top: -20px;" class="text-center text-xl-start">Welcome Back</h1>
                      
                      
                      <form method="POST" action="/accounts/login/" class="needs-validation mb-2">
                        
                        {% csrf_token %}
                        
                        {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                        {% endif %}
                        
                        <div class="position-relative mb-4">
                          <label for="email" class="form-label fs-base">Email</label>
                          <input type="email" name="login" class="form-control form-control-lg" required>
                          <div class="invalid-feedback position-absolute start-0 top-100">Please enter a valid email address!</div>
                        </div>
                        
                        <div class="mb-4">
                          <label for="password" class="form-label fs-base">Password</label>
                          <div class="password-toggle">
                            <input type="password" name="password" class="form-control form-control-lg" required>
                            
                            
                            <div class="invalid-feedback position-absolute start-0 top-100">Please enter your password!</div>
                          </div>
                        </div>
                        
                        <div class="mb-4">
                          <div class="form-check">
                            <input type="checkbox" id="remember" class="form-check-input">
                            <label for="remember" class="form-check-label fs-base">Remember me</label>
                          </div>
                        </div>
                        <button style="margin-bottom: 30px;" type="submit" class="btn btn-primary btn-lg w-100">Sign in</button>
                      
                    </form>
                     
                     
                    </div>
                    

                  </div>

            </div>

            <div class="col-md-4">

            </div>

        </div>

    </div>

   
    {% endblock %}

    {% block custom_scripts %}
      
    {% endblock %}

    
    