
    {% extends 'base.html' %}
    
    {% block title %}
      
      <title>Nimusoft | e-Commerce </title>
    
    {% endblock %}
    
    {% block page_loader %}
    
    {% endblock %}

    {% block loading_script %}
    
    {% endblock %}
    
    
    {% block main %}

    
    
       <!-- Breadcrumb -->
       <nav class="container py-4 mb-2 my-lg-3" aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item">
            <a href="/"><i class="bx bx-home-alt fs-lg me-1"></i>Home</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">e-Commerce</li>
        </ol>
      </nav>

      <!-- Industries e-commerce -->
      
      <section class="container mb-md-3 mb-lg-5 pb-5">
        <div class="row">
          <div class="col-md-6 pb-2 pb-md-0 mb-4 mb-md-0">
            <div class="pe-lg-5">
              <img src="https://cdn.nimusoft.com/nimusoft/assets/img/industries/industries-e-commerce.png" class="rounded-3" alt="Image">
            </div>
          </div>
          
          <div class="col-md-6">
            
            <h2 style="margin-top: -65px;" class="ind-title h3 mb-sm-4">e-Commerce</h2>
            
            <p class="d-md-none d-xl-block pb-2 pb-md-3 mb-3">
              
              Managers and businesspeople are interested in ERP e-commerce integration as the commercial sector becomes more and more automated. The daily management of operations, such as project management, accounting, purchasing, inventory, and other related procedures, is the primary focus of an ERP e-commerce software solution.

            </p>

            <p class="d-md-none d-xl-block pb-2 pb-md-3 mb-3">

              Nimusoft offers you the top e-commerce software options in this content. We provide ERP solutions for your business that might be advantageous to you regardless of your e-commerce business strategy, product, or target market. Our software solution will make your job easier by providing a clear overview of all the processes, gathering and analyzing important data, and keeping all the information in one place. If you are considering ERP and e-commerce integration, do not hesitate to contact us.

            </p>
           
            
            
            
            <div class="d-flex flex-column flex-sm-row">
              <a href="#" class="btn btn-primary mb-3 mb-sm-0 me-sm-3">Send request</a>
              
            </div>
          </div>
        
        
        </div>
      </section>

   
    {% endblock %}

    {% block custom_scripts %}
      
    {% endblock %}

    
    