
    {% extends 'base.html' %}
    
    {% block title %}
      
      <title>Nimusoft | Healthcare </title>
    
    {% endblock %}
    
    {% block page_loader %}
    
    {% endblock %}

    {% block loading_script %}
    
    {% endblock %}
    
    
    {% block main %}

    
    
       <!-- Breadcrumb -->
       <nav class="container py-4 mb-2 my-lg-3" aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item">
            <a href="/"><i class="bx bx-home-alt fs-lg me-1"></i>Home</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Healthcare</li>
        </ol>
      </nav>

      <!-- Industries Healthcare -->

      <section class="container mb-md-3 mb-lg-5 pb-5">
        <div class="row">
          <div class="col-md-6 pb-2 pb-md-0 mb-4 mb-md-0">
            <div class="pe-lg-5">
              <img src="https://cdn.nimusoft.com/nimusoft/assets/img/industries/industries-healthcare.png" class="rounded-3" alt="Image">
            </div>
          </div>
          
          <div class="col-md-6">
            
            <h2 style="margin-top: -65px;" class="ind-title h3 mb-sm-4">Healthcare</h2>
            
            <p class="d-md-none d-xl-block pb-2 pb-md-3 mb-3">
              
              Well executed Healthcare Management software help to remove on a great deal of manual work that is basically performed in medical clinics particularly the ones where documentation and record keeping are required. Healthcare management system is a cloud-based web framework for managing medical information that registers and includes data from every department to automate all internal processes. It aims to accomplish a wide variety of activities, from improving patient experience to optimizing the workflow for medical personnel, as well as everything in between, including lowering administrative expenses and minimizing mistakes.
            
            </p>

            <p class="d-md-none d-xl-block pb-2 pb-md-3 mb-3">
              We develop custom cloud based software for hospitals and diagnostic centers that combined by clinicians, patients, medical supplies, laboratory results data, insurance, medical bills, doctor appointments, and reports management features.
            </p>

            
           
 
            <div class="d-flex flex-column flex-sm-row">
              <a href="#" class="btn btn-primary mb-3 mb-sm-0 me-sm-3">Send request</a>
              
            </div>
          </div>
        
        
        </div>
      </section>

   
    {% endblock %}

    {% block custom_scripts %}
      
    {% endblock %}

    
    