
    {% extends 'base.html' %}
    
    {% block title %}
      
      <title>Nimusoft | Real Estate </title>
    
    {% endblock %}
    
    {% block page_loader %}
    
    {% endblock %}

    {% block loading_script %}
    
    {% endblock %}
    
    
    {% block main %}

    
    
       <!-- Breadcrumb -->
       <nav class="container py-4 mb-2 my-lg-3" aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item">
            <a href="/"><i class="bx bx-home-alt fs-lg me-1"></i>Home</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Real Estate</li>
        </ol>
      </nav>

      <!-- Industries Real Estate -->

      <section class="container mb-md-3 mb-lg-5 pb-5">
        <div class="row">
          <div class="col-md-6 pb-2 pb-md-0 mb-4 mb-md-0">
            <div class="pe-lg-5">
              <img src="https://cdn.nimusoft.com/nimusoft/assets/img/industries/industries-real-estate.png" class="rounded-3" alt="Image">
            </div>
          </div>
          
          <div class="col-md-6">
            
            <h2 style="margin-top: -65px;" class="ind-title h3 mb-sm-4">Real Estate</h2>
            
            <p class="d-md-none d-xl-block pb-2 pb-md-3 mb-3">
              
              We develop custom web based software that controls all operational processes and activities of real estate agencies, from managing a property to controlling real estate agencies, agents, and clients as well as financial transactions. Our advanced software solutions will help you to handle processes more effectively. It offers thorough reports for managing the effectiveness and performance of real estate agencies and helps management to make better decisions. It provides your company both immediate and long-term advantages, such as increased profit margins and cost effectiveness across the board.
            </p>

            
           
            
            
            
            <div class="d-flex flex-column flex-sm-row">
              <a href="#" class="btn btn-primary mb-3 mb-sm-0 me-sm-3">Send request</a>
              
            </div>
          </div>
        
        
        </div>
      </section>

   
    {% endblock %}

    {% block custom_scripts %}
      
    {% endblock %}

    
    