    <!--Begin:testimonials section-->
    <section class="position-relative overflow-hidden bg-light">

        <!--begin:Divider wave shape-->
      <svg class="position-absolute start-0 bottom-0 w-100 text-white" preserveAspectRatio="none" width="100%" height="288" viewBox="0 0 1200 288" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd"
        d="M0 0L67 30C133 60 267 120 400 138C533 156 667 132 800 126C933 120 1067 132 1133 138L1200 144V288H1133C1067 288 933 288 800 288C667 288 533 288 400 288C267 288 133 288 67 288H0V0Z"
        fill="currentColor" />
      </svg>
        <!--end:Divider wave shape-->

        <div class="container position-relative z-index-1 py-9 py-lg-11">

            <div class="row mb-7 align-items-end justify-content-between">

                <!--begin: Section headings-->
                <div class="col-lg-7 mb-4 mb-lg-0">

                    <div class="mb-4" data-aos="fade-up">
                        <!--Subheading-->
                        <h6 class="mb-0 text-uppercase"></h6>
                    </div>

                    <!--Heading-->
                    <h2 class="mb-2 display-5" data-aos="fade-right">What our clients say</h2>

                </div>

                <!--end: Section headings-->
                <div class="col-12 col-lg-3 text-lg-end" data-aos="fade-left" data-aos-delay="150">
                    <!--begin: button-->
                    {% comment %} <a href="#!" class="btn btn-outline-secondary btn-hover-arrow hover-lift"><span>Customer stories</span></a> {% endcomment %}
                    <!--end: button-->
                </div>

            </div>

            <div class="row justify-content-center">

                <div class="col-12 position-relative">
                    <!--Begin:swiper slider-->
                    <div class="swiper-container overflow-hidden swiper-testimonials shadow-lg rounded-3">
                        <!--Begin:wrapper-->
                        <div class="swiper-wrapper">

                            <!--Begin:slide-->
                            <div class="swiper-slide">

                                <div class="d-flex align-items-center flex-column bg-white overflow-hidden flex-lg-row">

                                    <div class="col-lg-6 px-0 mb-4 mb-md-0">

                                        <div class="position-relative">
                                            <!--testimonial Image-->
                                            <img src="../../../static/img/960x900/2.jpg" class="img-fluid" alt="">

                                            <!--Testimonial image divider-->
                                            <svg class="position-absolute d-none d-lg-block end-0 top-0 h-100 me-n1" preserveAspectRatio="none" width="58" height="583" viewBox="0 0 58 583" fill="none" xmlns="http://www.w3.org/2000/svg">
                                              <path fill-rule="evenodd" clip-rule="evenodd" d="M0 583L9.66667 534.417C19.3333 485.833 38.6667 388.667 39.7407 291.5C40.8148 194.333 23.6296 97.1667 15.037 48.5833L6.44444 -1.62125e-05H58V48.5833C58 97.1667 58 194.333 58 291.5C58 388.667 58 485.833 58 534.417V583H0Z" fill="white" />
                                            </svg>

                                            <!--Testimonial image small device divider-->
                                            <svg class="position-absolute bottom-0 start-0 mb-n1 d-lg-none" width="100%" height="48" preserveAspectRatio="none" viewBox="0 0 1200 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                                              <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0L100 10.6667C200 21.3333 400 42.6667 600 43.8519C800 45.037 1000 26.0741 1100 16.5926L1200 7.11111V64H1100C1000 64 800 64 600 64C400 64 200 64 100 64H0L0 0Z" fill="white" />
                                            </svg>

                                        </div>

                                    </div>

                                    <div class="col-lg-6 mx-auto px-0">
                                        <blockquote class="blockquote text-center mb-0 px-4 py-5 py-lg-7">
                                            <!--Testimonial Comapny Logo -->
                                            <div class="width-10x mb-3 mb-lg-4 h-auto mx-auto" style="color: #FF5A5F;">
                                                <img src="../../../static/img/partners/booking.com.svg" alt="">
                                            </div>
                                            <!-- Text -->
                                            <p class="mb-5 fs-4 w-lg-75 mx-auto">
                                                “ It is really refreshing to work with this bootstrap theme which is truly helpful in the development of one of my client’s website.”
                                            </p>

                                            <!-- Footer -->
                                            <footer class="blockquote-footer pb-4 pb-lg-0">
                                                <span class="h6">Nikita Millton</span>
                                            </footer>

                                        </blockquote>
                                    </div>

                                </div>

                            </div>
                            <!--end:slide-->

                            <!--Begin:slide-->
                            <div class="swiper-slide">
                                <div class="d-flex align-items-center flex-column bg-white overflow-hidden flex-lg-row">

                                    <div class="col-lg-6 px-0 mb-4 mb-md-0">

                                        <div class="position-relative">

                                            <!--testimonial Image-->
                                            <img src="../../../static/img/960x900/3.jpg" class="img-fluid" alt="">

                                            <!--Testimonial image divider-->
                                            <svg class="position-absolute d-none d-lg-block end-0 top-0 h-100 me-n1" preserveAspectRatio="none" width="58" height="583" viewBox="0 0 58 583" fill="none" xmlns="http://www.w3.org/2000/svg">
                                              <path fill-rule="evenodd" clip-rule="evenodd" d="M0 583L9.66667 534.417C19.3333 485.833 38.6667 388.667 39.7407 291.5C40.8148 194.333 23.6296 97.1667 15.037 48.5833L6.44444 -1.62125e-05H58V48.5833C58 97.1667 58 194.333 58 291.5C58 388.667 58 485.833 58 534.417V583H0Z" fill="white" />
                                            </svg>
                                            <!--Testimonial image small device divider-->
                                            <svg class="position-absolute bottom-0 start-0 mb-n1 d-lg-none" width="100%" height="48" preserveAspectRatio="none" viewBox="0 0 1200 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                                              <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0L100 10.6667C200 21.3333 400 42.6667 600 43.8519C800 45.037 1000 26.0741 1100 16.5926L1200 7.11111V64H1100C1000 64 800 64 600 64C400 64 200 64 100 64H0L0 0Z" fill="white" />
                                            </svg>

                                        </div>

                                    </div>

                                    <div class="col-lg-6 mx-auto px-0">
                                        <blockquote class="blockquote text-center mb-0 px-4 py-5 py-lg-7">
                                            <!--Testimonial Comapny Logo -->
                                            <div class="width-10x mb-3 mb-lg-4 h-auto mx-auto" style="color: #FF5A5F;">
                                                <img src="../../../static/img/partners/expedia.svg" alt="">
                                            </div>
                                            <!-- Text -->
                                            <p class="mb-5 fs-4 w-lg-75 mx-auto">
                                                “ It is really refreshing to work with this bootstrap theme which is truly helpful in the development of one of my client’s website.”
                                            </p>

                                            <!-- Footer -->
                                            <footer class="blockquote-footer pb-4 pb-lg-0">
                                                <span class="h6">Maria Shaparenko</span>
                                            </footer>

                                        </blockquote>
                                    </div>
                                    
                                </div>
                            </div>
                            <!--end:slide-->

                            <!--Begin:slide-->
                            <div class="swiper-slide">
                                <div class="d-flex align-items-center flex-column bg-white overflow-hidden flex-lg-row">

                                    <div class="col-lg-6 px-0 mb-4 mb-md-0">

                                        <div class="position-relative">
                                            <!--testimonial Image-->
                                            <img src="../../../static/img/960x900/4.jpg" class="img-fluid" alt="">

                                            <!--Testimonial image divider-->
                                            <svg class="position-absolute d-none d-lg-block end-0 top-0 h-100 me-n1" preserveAspectRatio="none" width="58" height="583" viewBox="0 0 58 583" fill="none" xmlns="http://www.w3.org/2000/svg">
                                              <path fill-rule="evenodd" clip-rule="evenodd" d="M0 583L9.66667 534.417C19.3333 485.833 38.6667 388.667 39.7407 291.5C40.8148 194.333 23.6296 97.1667 15.037 48.5833L6.44444 -1.62125e-05H58V48.5833C58 97.1667 58 194.333 58 291.5C58 388.667 58 485.833 58 534.417V583H0Z" fill="white" />
                                            </svg>
                                            <!--Testimonial image small device divider-->
                                            <svg class="position-absolute bottom-0 start-0 mb-n1 d-lg-none" width="100%" height="48" preserveAspectRatio="none" viewBox="0 0 1200 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                                              <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0L100 10.6667C200 21.3333 400 42.6667 600 43.8519C800 45.037 1000 26.0741 1100 16.5926L1200 7.11111V64H1100C1000 64 800 64 600 64C400 64 200 64 100 64H0L0 0Z" fill="white" />
                                            </svg>

                                        </div>

                                    </div>

                                    <div class="col-lg-6 mx-auto px-0">
                                        <blockquote class="blockquote text-center mb-0 px-4 py-5 py-lg-7">
                                            <!--Testimonial Comapny Logo -->
                                            <div class="width-10x mb-3 mb-lg-4 h-auto mx-auto" style="color: #FF5A5F;">
                                                <img src="../../../static/img/partners/deliveroo.svg" alt="">
                                            </div>
                                            <!-- Text -->
                                            <p class="mb-5 fs-4 w-lg-75 mx-auto">
                                                “ It is really refreshing to work with this bootstrap theme which is truly helpful in the development of one of my client’s website.”
                                            </p>

                                            <!-- Footer -->
                                            <footer class="blockquote-footer pb-4 pb-lg-0">
                                                <span class="h6">Duván Zapata</span>
                                            </footer>

                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                            <!--end:slide-->

                        </div>
                        <!--end:wrapper-->
                    </div>


                    <!--Begin:Swiper navigation-->
                    <div class="position-absolute end-0 bottom-0 mb-4 me-5 z-index-1 d-flex align-items-center">

                        <div class="swiperAuto-button-prev swiper-button-prev position-relative me-1 ms-0 start-0 width-4x height-4x hover-shadow hover-lift bg-light text-dark p-0">
                        </div>

                        <div class="swiperAuto-button-next swiper-button-next position-relative ms-1 ms-0 end-0 width-4x height-4x hover-shadow hover-lift bg-light text-dark">
                        </div>

                    </div>
                    <!--end:Swiper navigation-->

                </div>
                <!--end:swiper slider-->
            </div>

        </div>

    </section>
    <!--Begin:testimonials section-->
    
    










 <-- about -->
    <section class="container pt-5 mt-2 mt-md-4 mt-lg-5">
        {% comment %} <h1 class=" text-center border-bottom pb-4">Nimusft</h1> {% endcomment %}
        
        <div class="card text-center">
          <div class="card-header">
            
          </div>
          <div class="card-body">
            <h2 class="card-title">Nimusft Technologies Ltd</h2>
            <span class="h5 text-muted">A Software development company</span>
            
            <div class="text-justify">
              <p class="about text-justify">We are a software development company situated in Bangladesh that offers distinctive software solutions to your business's difficulties. To aid in the expansion of businesses, we create and develop specialized custom software solutions. We offer our services to a variety of sectors, including e-commerce, healthcare, real estate, and education.</p>
            </div>
  
          </div>
          <div class="card-footer text-muted">
            
          </div>
        </div>
  
      </section>


























    
      
      
      
      <!--Begin:testimonials section-->
      <section class="position-relative overflow-hidden bg-light">

        <!--begin:Divider wave shape-->
      <svg class="position-absolute start-0 bottom-0 w-100 text-white" preserveAspectRatio="none" width="100%" height="288" viewBox="0 0 1200 288" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd"
        d="M0 0L67 30C133 60 267 120 400 138C533 156 667 132 800 126C933 120 1067 132 1133 138L1200 144V288H1133C1067 288 933 288 800 288C667 288 533 288 400 288C267 288 133 288 67 288H0V0Z"
        fill="currentColor" />
      </svg>
        <!--end:Divider wave shape-->

        <div class="container position-relative z-index-1 py-9 py-lg-11">

            <div class="row mb-7 align-items-end justify-content-between">

                <!--begin: Section headings-->
                <div class="col-lg-7 mb-4 mb-lg-0">

                    {% comment %} <div class="mb-4" data-aos="fade-up">
                        <!--Subheading-->
                        <h6 class="mb-0 text-uppercase">Testimonials</h6>
                    </div>

                    <!--Heading-->
                    <h2 class="mb-2 display-5" data-aos="fade-right">What our clients say</h2>

                </div>

                <!--end: Section headings-->
                {% comment %} <div class="col-12 col-lg-3 text-lg-end" data-aos="fade-left" data-aos-delay="150">
                    <!--begin: button-->
                    <a href="#!" class="btn btn-outline-secondary btn-hover-arrow hover-lift"><span>Customer stories</span></a>
                    <!--end: button-->
                </div> {% endcomment %}

            </div>

            <div class="row justify-content-center">

                <div class="col-12 position-relative">
                    <!--Begin:swiper slider-->
                    <div class="swiper-container overflow-hidden swiper-testimonials shadow-lg rounded-3">
                        <!--Begin:wrapper-->
                        <div class="swiper-wrapper">

                            <!--Begin:slide-->
                            <div class="swiper-slide">

                                <div class="d-flex align-items-center flex-column bg-white overflow-hidden flex-lg-row">

                                    <div class="col-lg-6 px-0 mb-4 mb-md-0">

                                        <div class="position-relative">
                                            <!--testimonial Image-->
                                            <img src="../../../static/img/960x900/2.jpg" class="img-fluid" alt="">

                                            <!--Testimonial image divider-->
                                            <svg class="position-absolute d-none d-lg-block end-0 top-0 h-100 me-n1" preserveAspectRatio="none" width="58" height="583" viewBox="0 0 58 583" fill="none" xmlns="http://www.w3.org/2000/svg">
                                              <path fill-rule="evenodd" clip-rule="evenodd" d="M0 583L9.66667 534.417C19.3333 485.833 38.6667 388.667 39.7407 291.5C40.8148 194.333 23.6296 97.1667 15.037 48.5833L6.44444 -1.62125e-05H58V48.5833C58 97.1667 58 194.333 58 291.5C58 388.667 58 485.833 58 534.417V583H0Z" fill="white" />
                                            </svg>

                                            <!--Testimonial image small device divider-->
                                            <svg class="position-absolute bottom-0 start-0 mb-n1 d-lg-none" width="100%" height="48" preserveAspectRatio="none" viewBox="0 0 1200 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                                              <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0L100 10.6667C200 21.3333 400 42.6667 600 43.8519C800 45.037 1000 26.0741 1100 16.5926L1200 7.11111V64H1100C1000 64 800 64 600 64C400 64 200 64 100 64H0L0 0Z" fill="white" />
                                            </svg>

                                        </div>

                                    </div>

                                    <div class="col-lg-6 mx-auto px-0">
                                        <blockquote class="blockquote text-center mb-0 px-4 py-5 py-lg-7">
                                            <!--Testimonial Comapny Logo -->
                                            <div class="width-10x mb-3 mb-lg-4 h-auto mx-auto" style="color: #FF5A5F;">
                                                <img src="../../../static/img/partners/booking.com.svg" alt="">
                                                {% comment %} <img src="https://cdn.nimusoft.com/nimusoft/assets/img/avatar/client-islam-1.png"  width="48" height="48" class="rounded-circle" alt="Shafiqul Islam"> {% endcomment %}
                                            </div>
                                            <!-- Text -->
                                            <p class="mb-5 fs-4 w-lg-75 mx-auto">
                                                “Nimusoft significantly increased our productivity because of their enthusiasm and superior technological knowledge. They have excellent communication skills which improved our product faster and makes our customers happier.”
                                            </p>

                                            <!-- Footer -->
                                            <footer class="blockquote-footer pb-4 pb-lg-0">
                                                <span class="h6">Mohammad Shafiqul Islam</span>
                                            </footer>

                                        </blockquote>
                                    </div>

                                </div>

                            </div>
                            <!--end:slide-->

                            <!--Begin:slide-->
                            <div class="swiper-slide">
                                <div class="d-flex align-items-center flex-column bg-white overflow-hidden flex-lg-row">

                                    <div class="col-lg-6 px-0 mb-4 mb-md-0">

                                        <div class="position-relative">

                                            <!--testimonial Image-->
                                            <img src="../../../static/img/960x900/3.jpg" class="img-fluid" alt="">

                                            <!--Testimonial image divider-->
                                            <svg class="position-absolute d-none d-lg-block end-0 top-0 h-100 me-n1" preserveAspectRatio="none" width="58" height="583" viewBox="0 0 58 583" fill="none" xmlns="http://www.w3.org/2000/svg">
                                              <path fill-rule="evenodd" clip-rule="evenodd" d="M0 583L9.66667 534.417C19.3333 485.833 38.6667 388.667 39.7407 291.5C40.8148 194.333 23.6296 97.1667 15.037 48.5833L6.44444 -1.62125e-05H58V48.5833C58 97.1667 58 194.333 58 291.5C58 388.667 58 485.833 58 534.417V583H0Z" fill="white" />
                                            </svg>
                                            <!--Testimonial image small device divider-->
                                            <svg class="position-absolute bottom-0 start-0 mb-n1 d-lg-none" width="100%" height="48" preserveAspectRatio="none" viewBox="0 0 1200 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                                              <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0L100 10.6667C200 21.3333 400 42.6667 600 43.8519C800 45.037 1000 26.0741 1100 16.5926L1200 7.11111V64H1100C1000 64 800 64 600 64C400 64 200 64 100 64H0L0 0Z" fill="white" />
                                            </svg>

                                        </div>

                                    </div>

                                    <div class="col-lg-6 mx-auto px-0">
                                        <blockquote class="blockquote text-center mb-0 px-4 py-5 py-lg-7">
                                            <!--Testimonial Comapny Logo -->
                                            <div class="width-10x mb-3 mb-lg-4 h-auto mx-auto" style="color: #FF5A5F;">
                                                <img src="../../../static/img/partners/expedia.svg" alt="">
                                            </div>
                                            <!-- Text -->
                                            <p class="mb-5 fs-4 w-lg-75 mx-auto">
                                                “ It is really refreshing to work with this bootstrap theme which is truly helpful in the development of one of my client’s website.”
                                            </p>

                                            <!-- Footer -->
                                            <footer class="blockquote-footer pb-4 pb-lg-0">
                                                <span class="h6">Maria Shaparenko</span>
                                            </footer>

                                        </blockquote>
                                    </div>
                                    
                                </div>
                            </div>
                            <!--end:slide-->

                            <!--Begin:slide-->
                            <div class="swiper-slide">
                                <div class="d-flex align-items-center flex-column bg-white overflow-hidden flex-lg-row">

                                    <div class="col-lg-6 px-0 mb-4 mb-md-0">

                                        <div class="position-relative">
                                            <!--testimonial Image-->
                                            <img src="../../../static/img/960x900/4.jpg" class="img-fluid" alt="">

                                            <!--Testimonial image divider-->
                                            <svg class="position-absolute d-none d-lg-block end-0 top-0 h-100 me-n1" preserveAspectRatio="none" width="58" height="583" viewBox="0 0 58 583" fill="none" xmlns="http://www.w3.org/2000/svg">
                                              <path fill-rule="evenodd" clip-rule="evenodd" d="M0 583L9.66667 534.417C19.3333 485.833 38.6667 388.667 39.7407 291.5C40.8148 194.333 23.6296 97.1667 15.037 48.5833L6.44444 -1.62125e-05H58V48.5833C58 97.1667 58 194.333 58 291.5C58 388.667 58 485.833 58 534.417V583H0Z" fill="white" />
                                            </svg>
                                            <!--Testimonial image small device divider-->
                                            <svg class="position-absolute bottom-0 start-0 mb-n1 d-lg-none" width="100%" height="48" preserveAspectRatio="none" viewBox="0 0 1200 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                                              <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0L100 10.6667C200 21.3333 400 42.6667 600 43.8519C800 45.037 1000 26.0741 1100 16.5926L1200 7.11111V64H1100C1000 64 800 64 600 64C400 64 200 64 100 64H0L0 0Z" fill="white" />
                                            </svg>

                                        </div>

                                    </div>

                                    <div class="col-lg-6 mx-auto px-0">
                                        <blockquote class="blockquote text-center mb-0 px-4 py-5 py-lg-7">
                                            <!--Testimonial Comapny Logo -->
                                            <div class="width-10x mb-3 mb-lg-4 h-auto mx-auto" style="color: #FF5A5F;">
                                                <img src="../../../static/img/partners/deliveroo.svg" alt="">
                                            </div>
                                            <!-- Text -->
                                            <p class="mb-5 fs-4 w-lg-75 mx-auto">
                                                “ It is really refreshing to work with this bootstrap theme which is truly helpful in the development of one of my client’s website.”
                                            </p>

                                            <!-- Footer -->
                                            <footer class="blockquote-footer pb-4 pb-lg-0">
                                                <span class="h6">Duván Zapata</span>
                                            </footer>

                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                            <!--end:slide-->

                        </div>
                        <!--end:wrapper-->
                    </div>


                    <!--Begin:Swiper navigation-->
                    <div class="position-absolute end-0 bottom-0 mb-4 me-5 z-index-1 d-flex align-items-center">

                        <div class="swiperAuto-button-prev swiper-button-prev position-relative me-1 ms-0 start-0 width-4x height-4x hover-shadow hover-lift bg-light text-dark p-0">
                        </div>

                        <div class="swiperAuto-button-next swiper-button-next position-relative ms-1 ms-0 end-0 width-4x height-4x hover-shadow hover-lift bg-light text-dark">
                        </div>

                    </div>
                    <!--end:Swiper navigation-->

                </div>
                <!--end:swiper slider-->
            </div>

        </div>

    </section>
    <!--Begin:testimonials section-->

<!--End raju work for eductation page content //////////////////////-->



<!-- Start raju work For scripting//////////////////////////////////// -->

  <!-- begin:Back to Top button -->
  <a href="#" class="toTop">
    <i class="bx bxs-up-arrow"></i>
  </a>
  <!-- begin:Back to Top button -->

  <!-- scripts -->
  <script src="../../../static/js/theme.bundle.js"></script>

  {% comment %} <!--Mastert Slider start (Include jquery before master slider js)-->
  <script src="../../../static/vendor/node_modules/js/jquery.min.js"></script>
  <script src="../../../static/vendor/masterslider/jquery.easing.min.js"></script>
  <script src="../../../static/vendor/masterslider/masterslider.min.js"></script> {% endcomment %}

  <script>
      var slider = new MasterSlider();
      slider.setup('masterslider', {
          width: 1140,
          height: 660,
          minHeight: 400,
          space: 0,
          start: 1,
          grabCursor: false,
          layout: "fullwidth",
          wheel: false,
          autoplay: true,
          instantStartLayers: true,
          loop: true,
          view: "basic",
          instantStartLayers: true,
      });
      slider.control('arrows');
  </script>

  <!--Swiper slider-->
  <script src="../../../static/vendor/node_modules/js/swiper-bundle.min.js"></script>
  
  <script>
      //swiper-projects
      var swiperProjects = new Swiper(".swiper-projects", {
          autoHeight: true,
          spaceBetween: 16,
          centeredSlides: true,
          loop: true,
          breakpoints: {
              640: {
                  slidesPerView: 1,
                  spaceBetween: 16
              },
              768: {
                  slidesPerView: 2,
                  spaceBetween: 16
              },
              1024: {
                  slidesPerView: 2,
                  spaceBetween: 16
              }
          },
          pagination: {
              el: ".swiperProjects-pagination",
              clickable: true
          }
      });

      //swiper-testimonials
      var swiperAuto = new Swiper(".swiper-testimonials", {
          slidesPerView: "auto",
          loop: true,
          centeredSlides: true,
          spaceBetween: 0,
          grabCursor: true,
          pagination: {
              el: ".swiperAuto-pagination",
              clickable: true,
          },
          navigation: {
              nextEl: ".swiperAuto-button-next",
              prevEl: ".swiperAuto-button-prev",
          }
      });
  </script>

<!-- End raju work For scripting//////////////////////////////////// -->