
    {% extends 'base.html' %}
    
    {% block title %}
      
      <title>Nimusoft | Jobs </title>
    
    {% endblock %}

    {% block socialtag %}
    <!--  Social tags -->
    <meta
      name="keywords"
      content="Nimusoft, Nimusoft Technologies Ltd., nimusoft, nimusoft technologies ltd"
    />
    <meta
      name="description"
      content="We are a software development company situated in Bangladesh that offers distinctive software solutions to your business's difficulties. To aid in the expansion of businesses, we create and develop specialized custom software solutions. We offer our services to a variety of sectors, including e-commerce, healthcare, real estate, and education."
    />
    <meta name="image" content="https://cdn.nimusoft.com/nimusoft/assets/nimusoft-share.webp" />

    <link rel="canonical" href="https://nimusoft.com/" />
	
	  <!-- Facebook -->
    <meta property="og:url" content="https://nimusoft.com/" />
    <meta property="og:title" content="Nimusft Technologies Ltd." />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://cdn.nimusoft.com/nimusoft/assets/jobs-apply.webp" />
    <meta property="og:image:type" content="image/png" />
	  
    {% endblock %}
    
    {% block page_loader %}
    
    {% endblock %}

    {% block loading_script %}
    
    {% endblock %}
    
    
    {% block header%} 
    <!-- Navbar -->
    <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page -->
    <header id="gradient" class="header navbar navbar-expand-lg bg-light navbar-sticky">
    <div class="container px-3">
        <a href="/" class="navbar-brand pe-3">
        <img src="https://cdn.nimusoft.com/nimusoft/assets/img/nimusoft-logo.svg" width="120" alt="Nimusoft">
        
        </a>
        
        <div id="navbarNav" class="offcanvas offcanvas-end">
        <div class="offcanvas-header border-bottom">
            <h5 class="offcanvas-title">Menu</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        
        <div class="offcanvas-body">
            <ul class="navbar-nav nav-custom-right mb-2 mb-lg-0">
            
            
            
              <li class="nav-item">
                <a href="/" class="nav-link">Home</a>
            </li>

            
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Services</a>
                <ul class="dropdown-menu">
                
                
                <hr style="margin-top: -9px;">
                <li style="margin-bottom: 8px; margin-top: 8px;">
                    
                    <a href="{% url 'home:medical_solution' %}" class="dropdown-item">Medical Solution</a>
                
                </li>
                <hr>
                
                <li style="margin-bottom: 8px; margin-top: 8px;"><a href="{% url 'home:mobile_app' %}" class="dropdown-item">Mobile App Development</a></li>
                <hr>
                <li style="margin-bottom: 8px; margin-top: 8px;"><a href="{% url 'home:erp_solution' %}" class="dropdown-item">ERP Solution</a></li>
                <hr>
                <li style="margin-bottom: 8px; margin-top: 8px;"><a href="{% url 'home:e_commerce_solution' %}" class="dropdown-item">E-commerce Solution</a></li>
                <hr>

                <li style="margin-bottom: 8px; margin-top: 8px;"><a href="{% url 'home:cyber_security' %}" class="dropdown-item">Cyber Security</a></li>
                <hr>

                <li style="margin-bottom: 8px; margin-top: 8px;"><a href="{% url 'home:data_analytics' %}" class="dropdown-item">Data Analytics</a></li>
                
                <hr>
                <li style="margin-bottom: 8px; margin-top: 8px;"><a href="{% url 'home:iot_and_vr' %}" class="dropdown-item">IOT & Virtual Reality</a></li>
                
                
                <hr>

                <li style="margin-bottom: 8px; margin-top: 9px;"><a href="{% url 'home:cloud_services' %}" class="dropdown-item">Cloud Services</a></li>
                <hr style="margin-bottom: -9px;">
                
                
                </ul>
            </li>
            
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Industries</a>
                <ul class="dropdown-menu">
                
                
                <hr style="margin-top: -9px;">
                <li style="margin-bottom: 8px; margin-top: 8px;">
                    
                    <a href="{% url 'home:education' %}" class="dropdown-item">Education</a>
                
                </li>
                <hr>
                
                <li style="margin-bottom: 8px; margin-top: 8px;"><a href="{% url 'home:real_estate' %}" class="dropdown-item">Real Estate</a></li>
                <hr>
                <li style="margin-bottom: 8px; margin-top: 8px;"><a href="{% url 'home:construction' %}" class="dropdown-item">Construction</a></li>
                <hr>
                <li style="margin-bottom: 8px; margin-top: 8px;"><a href="{% url 'home:healthcare' %}" class="dropdown-item">Healthcare</a></li>
                
                <hr>
                <li style="margin-bottom: 8px; margin-top: 8px;"><a href="{% url 'home:robotics_and_ai' %}" class="dropdown-item">AI & Robotics</a></li>
                
                <hr>
                <li style="margin-bottom: 8px; margin-top: 9px;"><a href="{% url 'home:e_commerce' %}" class="dropdown-item">E-commerce</a></li>
                <hr style="margin-bottom: -9px;">
                
                
                </ul>
            </li>
            
            
            <li class="nav-item">
                <a href="{% url 'home:case_studies' %}" class="nav-link">Case Studies</a>
            </li>
            
            <li class="nav-item">
                <a href="{% url 'home:about' %}" class="nav-link">About Us</a>
            </li>

            <li class="nav-item">
                <a href="{% url 'home:contact' %}" class="nav-link">Contact Us</a>
            </li>

            {% if user.is_authenticated %}
            <li class="nav-item">
              <a href="{% url 'home:dashboard' %}" class="nav-link">Dashboard</a>
            </li>
            
            
            <li class="nav-item">
              <a href="/accounts/logout/" class="nav-link">Logout</a>
            </li>
            
            {% else %}
            <li class="nav-item">
                <a href="/accounts/login/" class="nav-link">Login</a>
            </li>

            {% endif %}
            
            
            
            
    
            
            </ul>
        </div>
        
        <div class="offcanvas-header border-top">
            
          
            <p style="margin-top: -8px; margin-bottom: -8px; margin-left: 27px;">Nimusft Technologies Ltd.</p>
        
         
          
        </div>      
        
      
      </div>
        
        
        
        
        <button type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span style="margin-top: -8px;" class="navbar-toggler-icon"></span>
        
        <p style="margin-top: 14px; font-size: 9px;">Menu</p>
        
        </button>
        
        
        
    </div>
    </header>
    {% endblock %}
    
    
    
    {% block main %}


      <!-- Page Content -->
      <div class="col-md-12 text-center">
        <h2 style="margin-top: 20px;" class="text-muted">Our Job Offers</h2>
        <h6 class="text-muted">Email: contact@nimusoft.com</h6>
        <h6 style="padding: 15px;" class="d-md-none d-xl-block pb-2 pb-md-3 mb-3">
          Join our team! we'll provide you a great opportunity to grow and learn while being a part of a fun team and experience.
        </h6>
      
      </div>
   
      <div class="container">

        <div>
          <a href="{% url 'home:job_details_one' %}"><h4 style="color:#154360">Python Developer – Intern(Paid)</h4></a>
          
          <div style="display: flex;">
              <div>
                <i class="fa-regular fa-calendar"></i>
              </div>
              <div>
                <span>
                  <p style="margin-left: 5px;">Posted on: 01/01/2023</p>
                </span>
              </div>
          </div>
          
        
        </div>

        <div>
          <a href="{% url 'home:job_details_two' %}"><h4 style="color:#154360">Python(django) developer</h4></a></a>
          
          <div style="display: flex;">
            <div>
              <i class="fa-regular fa-calendar"></i>
            </div>
            <div>
              <span>
                <p style="margin-left: 5px;">Posted on: 01/01/2023</p>
              </span>
            </div>
          </div>
        
        </div>

      </div>


   
    {% endblock %}

    {% block custom_scripts %}
      
    {% endblock %}

    
    