
    {% extends 'base.html' %}
    
    {% block title %}
      
      <title>Nimusoft | Contact US </title>
    
    {% endblock %}
    
    
    {% block page_loader %}
    
    {% endblock %}

    {% block loading_script %}
    
    {% endblock %}
    
    
    {% block main %}
     
        <!-- Page content -->
      <section class="bg-size-cover bg-position-bottom-center bg-repeat-0 py-5" style="background-image: url(https://cdn.nimusoft.com/nimusoft/assets/img/contacts/bg.svg);">
        <div class="container pt-5 pb-lg-4 pb-xl-5">

          <!-- Breadcrumb -->
          <nav class="pt-lg-4" aria-label="breadcrumb">
            <ol class="breadcrumb mb-0">
              <li class="breadcrumb-item">
                <a href="/"><i class="bx bx-home-alt fs-lg me-1"></i>Home</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
            </ol>
          </nav>

          <div class="row pt-md-2 pt-lg-5 pb-2 pb-md-4">
            <div class="col-xxl-4 col-xl-5 col-lg-6 pt-3 mt-3">
              <h1 class="h3 mb-2">Want to start a project with us?</h1>
              <h2 class="display-1 text-gradient-primary pb-sm-2 pb-md-3 mb-3">Let's talk!</h2>
              <div class="nav d-block lead pt-lg-5">
                <a href="#" class="nav-link fw-normal text-decoration-underline p-0 mb-4">sales@nimusoft.com</a>
                <div class="text-nav">+88 01777 424142</div>
              </div>
            </div>
            <div class="col-lg-6 offset-xl-1 offset-xxl-2 pt-3 pt-md-4 pt-lg-3 mt-3">
              
                <div id="ajax_contact_form">

                  {% include 'home/forms/contact_form.html' %}
                
                
                </div>
               
                
              
             
            </div>
          </div>
        </div>
      </section>
    
    {% endblock %}

    {% block custom_scripts %}
      
    <script>
      
      $(function () {

      var saveForm = function () {
        
        var form = $(this);
        $.ajax({
          url: form.attr("action"),
          data: form.serialize(),
          type: form.attr("method"),
          dataType: 'json',
          
          beforeSend: function() {
            $('#loading').html('<div class="text-center"><div class="spinner-border spinner-border-sm" role="status"><span class="visually-hidden">Loading...</span></div></div>');
            },
          
          success: function (data) {
            if (data.form_is_valid) {
              
              $("#ajax_contact_form").html(data.success_form);
              $('#after_ajax_btn').html('<a href="/contact-us/"><button style="width: 150px !important;" type="button" class="btn btn-lg btn-primary w-100 w-sm-auto">Refresh</button>');
              
              
            
            }
            
            else {
              
              $('#after_ajax_btn').html('<button style="width: 150px !important;" type="submit" id="loading" class="btn btn-lg btn-primary w-100 w-sm-auto">Contact Us</button>');
              
            
            }
          }
        });
        return false;
      };

      
      // Submit form
      $("#contactForm").on("submit", saveForm);

    });

    



    </script>
    
    
    {% endblock %}

    
    