
     {% extends 'base.html' %}
     
     {% block title %}
      
      <title>Nimusoft Technologies Ltd.</title>
    
     {% endblock %}
     
     
     {% block page_loader %}
    
    {% endblock %}

    {% block loading_script %}
    
    {% endblock %}
     
     
     
     {% block main %}
     <!-- Hero slides -->
      <div id="homeCarousel" class="carousel slides carousel-fade" data-bs-ride="carousel">
        
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://cdn.nimusoft.com/nimusoft/assets/img/slide/img1.jpg" class="w-100 zoom-in-zoom-out" alt="banner">
          </div>
          <div class="carousel-item">
            <img src="https://cdn.nimusoft.com/nimusoft/assets/img/slide/img2.jpg" class="w-100 zoom-in-zoom-out" alt="banner">
          </div>
          <div class="carousel-item">
            <img src="https://cdn.nimusoft.com/nimusoft/assets/img/slide/img3.jpg" class="w-100 zoom-in-zoom-out" alt="banner">
          </div>
        </div>
        
        
      </div>

      

      <!-- About -->
      <section class="container pt-5 mt-2 mt-md-4 mt-lg-5">
        <div class="row pt-xl-3">
          <div class="col-md-5 text-center text-md-start pb-5">
            
            <h3 style="color: #154360" class="mb-4 about-mobile">Nimusft Technologies Ltd.<br> A Software development company</h3>
           
           
            <p class="fs-lg pb-lg-3 mb-4">
              We are a software development company situated in Bangladesh that offers distinctive software solutions to your business's difficulties. To aid in the expansion of businesses, we create and develop specialized custom software solutions. We offer our services to a variety of sectors, including e-commerce, healthcare, real estate, and education.
            </p>
            
           

            <p class="fs-lg pb-lg-3 mb-4">
              Nimusoft Technologies is committed to excellence and effectiveness. This is why we provide every customer our undivided attention to ensure the best quality software solutions that will solve your business problems in the most efficient way.
            </p>
            
          
          </div>
          
          <div style="margin-top: 70px;" class="about-photo col-xl-6 col-md-7 offset-xl-1 pb-4 pb-sm-3 pb-lg-0 mb-4 mb-sm-5 mb-lg-0">
            <img src="https://cdn.nimusoft.com/nimusoft/assets/img/services/service-iot-vr.png" class="rounded-3 shadow-sm" alt="Image">
          </div>
        
        
        </div>
      </section>


      <!-- Industries -->
      <section style="margin-top: 60px;" class="pt-2 pt-lg-0 pb-5 mb-md-4 mb-lg-5">
        
        <div class="container">

        <div class="industries-title" style="width:fit-content">
          
          <h2 style="color: #154360;" class="h1 pb-3 pb-lg-4">Industries We Serve</h2>
          
        </div>
        
        
        
        <div style="margin-top: 30px;" class="swiper mx-n2" data-swiper-options='{
          "slidesPerView": 2,
          "pagination": {
            "el": ".swiper-pagination",
            "clickable": true
          },
          "breakpoints": {
            "500": {
              "slidesPerView": 3,
              "spaceBetween": 8
            },
            "650": {
              "slidesPerView": 4,
              "spaceBetween": 8
            },
            "900": {
              "slidesPerView": 5,
              "spaceBetween": 8
            },
            "1100": {
              "slidesPerView": 6,
              "spaceBetween": 8
            }
          }
        }'>
          <div class="swiper-wrapper">

            <!-- Item -->
            <div class="swiper-slide py-3">
              
              <div class="card card-body card-hover px-2 mx-2">
                
                <i style="text-align: center; color: #154360; font-size: xx-large; margin-top: -4px;" class='bx bxs-graduation'></i>
                
                <h6 style="text-align: center; color: #154360; margin-top: 7px; margin-bottom: -5px;">Education</h6>
              
              
              </div>
            
            
            </div>

            <!-- Item -->
            <div class="swiper-slide py-3">
              
              <div class="card card-body card-hover px-2 mx-2">
                
                <i style="text-align: center; color: #154360; font-size: xx-large; margin-top: -4px;" class='bx bxs-building-house'></i>
                
                <h6 style="text-align: center; color: #154360; margin-top: 7px; margin-bottom: -5px;">Real Estate</h6>
              
              
              </div>
            
            
            </div>

            <!-- Item -->
            <div class="swiper-slide py-3">
              
              <div class="card card-body card-hover px-2 mx-2">
                
                <i style="text-align: center; color: #154360; font-size: xx-large; margin-top: -4px;" class='bx bx-plus-medical'></i>
                
                <h6 style="text-align: center; color: #154360; margin-top: 7px; margin-bottom: -5px;">Healthcare</h6>
              
              
              </div>
            
            
            </div>

            <!-- Item -->
            <div class="swiper-slide py-3">
              
              <div class="card card-body card-hover px-2 mx-2">
                
                <i style="text-align: center; color: #154360; font-size: xx-large; margin-top: -4px;" class='bx bxs-cart-alt'></i>
                
                <h6 style="text-align: center; color: #154360; margin-top: 7px; margin-bottom: -5px;">E-commerce</h6>
              
              
              </div>
            
            
            </div>

            <!-- Item -->
            <div class="swiper-slide py-3">
              
              <div class="card card-body card-hover px-2 mx-2">
                
                <i style="text-align: center; color: #154360; font-size: xx-large; margin-top: -4px;" class='bx bxs-hard-hat'></i>
                
                <h6 style="text-align: center; color: #154360; margin-top: 7px; margin-bottom: -5px;">Construction</h6>
              
              
              </div>
            
            
            </div>

            <!-- Item -->
            <div class="swiper-slide py-3">
              
              <div class="card card-body card-hover px-2 mx-2">
                
                <i style="text-align: center; color: #154360; font-size: xx-large; margin-top: -4px;" class='bx bxs-brain'></i>
                
                <h6 style="text-align: center; color: #154360; margin-top: 7px; margin-bottom: -5px;">AI & Robotics</h6>
              
              
              </div>
            
            
            </div>
          
          
          </div>

          <!-- Pagination (bullets) -->
          <div class="swiper-pagination position-relative pt-2 mt-4">
          </div>
        
        
        </div>
        
        </div>
        
      
      
      </section>

      
      <!-- Technologies we use -->
      <section style="margin-top: -30px; background-color: #154360;" class="pt-2 pt-lg-0 pb-5 mb-md-4 mb-lg-5">
       
        <div>
           <h6 style="visibility: hidden;">Nimusft Technologies Ltd.</h6>
        </div>
        
        <h2 style="color: whitesmoke;" class="h1 text-center pb-3 pb-lg-4">Technologies We Use</h2>

            
            <div style="margin-top: -25px !important;" class="container">

              <div class="row technology-logos" style="display: flex;">

                <!-- Item -->
                <div class="col-md-2 py-3 mobile-col">
                  
                  <div style="width: 150px; margin-left: 50px;" class="card card-body card-hover px-2 mx-2 ">
                    
                    <i style="text-align: center; color: #154360; font-size: 40px !important;" class='bx bxl-aws'></i>
                    
                    
                  
                  </div>
                
                
                </div>
    
                <!-- Item -->
                <div class="col-md-2 py-3 mobile-col">
                  
                  <div style="width: 150px;" class="card card-body card-hover px-2 mx-2">
                    
                    <i style="text-align: center; color: #154360; font-size: 40px !important;" class='bx bxl-python'></i>
                    
                    
                  
                  </div>
                
                
                </div>
    
                <!-- Item -->
                <div class="col-md-2 py-3 mobile-col">
                  
                  <div style="width: 150px;" class="card card-body card-hover px-2 mx-2">
                    
                    <i style="text-align: center; color: #154360; font-size: 40px !important;" class='bx bxl-django'></i>
                    
                    
                  
                  </div>
                
                
                </div>
    
                <!-- Item -->
                <div class="col-md-2 py-3 mobile-col">
                  
                  <div style="width: 150px;" class="card card-body card-hover px-2 mx-2">
                    
                    <i style="text-align: center; color: #154360; font-size: 40px !important;" class='bx bxl-postgresql '></i>
                    
                    
                  
                  </div>
                
                
                </div>
    
                <!-- Item -->
                <div class="col-md-2 py-3 mobile-col">
                  
                  <div style="width: 150px;" class="card card-body card-hover px-2 mx-2">
                    
                    <i style="text-align: center; color: #154360; font-size: 40px !important;" class='bx bxl-mongodb '></i>
                    
                    
                  
                  </div>
                
                
                </div>
    
                <!-- Item -->
                <div class="col-md-2 py-3 mobile-col">
                  
                  <div style="width: 150px;" class="card card-body card-hover px-2 mx-2">
                    
                    <i style="text-align: center; color: #154360; font-size: 40px !important;" class='bx bxl-docker '></i>
                    
                    
                  
                  </div>
                
                
                </div>
               
                <!-- Item -->
                <div class="col-md-2 py-3 mobile-col">
                  
                  <div style="width: 150px;" class="card card-body card-hover px-2 mx-2">
                    
                    <i style="text-align: center; color: #154360; font-size: 40px !important;" class='bx bxl-javascript '></i>
                    
                    
                  
                  </div>
                
                
                </div>
    
                <!-- Item -->
                <div class="col-md-2 py-3 mobile-col">
                  
                  <div style="width: 150px;" class="card card-body card-hover px-2 mx-2">
                    
                    <i style="text-align: center; color: #154360; font-size: 40px !important;" class='bx bxl-html5 '></i>
                    
                    
                  
                  </div>
                
                
                </div>
    
    
                <!-- Item -->
                <div class="col-md-2 py-3 mobile-col">
                  
                  <div style="width: 150px;" class="card card-body card-hover px-2 mx-2">
                    
                    <i style="text-align: center; color: #154360; font-size: 40px !important;" class='bx bxl-react '></i>
                    
                    
                  
                  </div>
                
                
                </div>
                
                <!-- Item -->
                <div class="col-md-2 py-3 mobile-col">
                  
                  <div style="width: 150px;" class="card card-body card-hover px-2 mx-2">
                    
                    <i style="text-align: center; color: #154360; font-size: 40px !important;" class='bx bxl-css3 '></i>
                    
                    
                  
                  </div>
                
                
                </div>
    
                <!-- Item -->
                <div class="col-md-2 py-3 mobile-col">
                  
                  <div style="width: 150px;" class="card card-body card-hover px-2 mx-2">
                    
                    <i style="text-align: center; color: #154360; font-size: 40px !important;" class='bx bxl-bootstrap '></i>
                    
                    
                  
                  </div>
                
                
                </div>
    
                <!-- Item -->
                <div class="col-md-2 py-3 mobile-col">
                  
                  <div style="width: 150px;" class="card card-body card-hover px-2 mx-2">
                    
                    <i style="text-align: center; color: #154360; font-size: 40px !important;" class='bx bxl-nodejs '></i>
                    
                    
                  
                  </div>
                
                
                </div>
                 
                <!-- Item -->
                <div class="col-md-2 py-3 mobile-col">
                  
                  <div style="width: 150px;" class="card card-body card-hover px-2 mx-2">
                    
                    <i style="text-align: center; color: #154360; font-size: 40px !important;" class='bx bxl-git '></i>
                    
                    
                  
                  </div>
                
                
                </div>
                 
                <!-- Item -->
                <div class="col-md-2 py-3 mobile-col">
                  
                  <div style="width: 150px;" class="card card-body card-hover px-2 mx-2">
                    
                    <i style="text-align: center; color: #154360; font-size: 40px !important;" class='bx bxl-github '></i>
                    
                    
                  
                  </div>
                
                
                </div>
                 
                <!-- Item -->
                <div class="col-md-2 py-3 mobile-col">
                  
                  <div style="width: 150px;" class="card card-body card-hover px-2 mx-2">
                    
                    <i style="text-align: center; color: #154360; font-size: 40px !important;" class='bx bxs-terminal '></i>
                    
                    
                  
                  </div>
                
                
                </div>
    
                <!-- Item -->
                <div class="col-md-2 py-3 mobile-col">
                  
                  <div style="width: 150px;" class="card card-body card-hover px-2 mx-2">
                    
                    <i style="text-align: center; color: #154360; font-size: 40px !important;" class='bx bxs-data '></i>
                    
                    
                  
                  </div>
                
                
                </div>
                
                <!-- Item -->
                <div class="col-md-2 py-3 mobile-col">
                  
                  <div style="width: 150px;" class="card card-body card-hover px-2 mx-2">
                    
                    <i style="text-align: center; color: #154360; font-size: 40px !important;" class='bx bxs-bug '></i>
                    
                    
                  
                  </div>
                
                
                </div>
    
                <!-- Item -->
                <div class="col-md-2 py-3 mobile-col">
                  
                  <div style="width: 150px;" class="card card-body card-hover px-2 mx-2">
                    
                    <i style="text-align: center; color: #154360; font-size: 40px !important;" class='bx bxl-visual-studio '></i>
                    
                    
                  
                  </div>
                
                
                </div>
                 
                
                
               
              
                </div>
            
            </div>
        
            
       
            
          
      
      
      </section>
      
      
      <!-- Case study title -->
      <section class="container pt-2 pt-lg-0 pb-5 mb-md-4 mb-lg-5">
        
        <div class="case-title" style="width:fit-content">
          
          <h2 style="color: #154360;" class="h1 pb-3 pb-lg-4">Our Case Studies</h2>
          
        </div>

      
      </section>
      
      <!-- Case studies 1-->
      <section style="margin-top: -20px;" class="container mb-md-3 mb-lg-5 pb-5">
        <div class="row">
          <div class="col-md-6 pb-2 pb-md-0 mb-4 mb-md-0">
            <div class="pe-lg-5">
              <img src="https://cdn.nimusoft.com/nimusoft/assets/img/case-studies/faris-al-reem.png" class="rounded-3" alt="Image">
            </div>
          </div>
          
          <div class="col-md-6">
            <h2 class="h3 mb-sm-4">Construction Management Software</h2>
            <p class="d-md-none d-xl-block pb-2 pb-md-3 mb-3">
              
              Business workflows for construction are managed by construction management software. Utilizing construction management systems enables contractors, property builders, and subcontractors to coordinate resources, communicate job progress, and manage projects, contracts, and budgets. 
              To offer value across the whole construction lifecycle, Nimusoft creates end-to-end construction software. We create custom software for managing your projects, resources, and finances from project planning through project closeout. On a single platform, our ERP system links teams, devices, and all company operations. All facets of construction are covered by our cloud-based solutions for the industry, including project delivery, finance and operations, time management, supply chain management, and service management.


            </p>
           
            
            
            
            <div class="d-flex flex-column flex-sm-row">
              <a href="#" class="btn btn-primary mb-3 mb-sm-0 me-sm-3">Send request</a>
              
            </div>
          </div>
        
        
        </div>
      </section>


      <!-- Case studies 2 -->
      <section class="container pt-2 pt-lg-3 mb-md-3 mb-lg-5 pb-5">
        <div class="row">
          <div class="col-md-6 order-md-2 pb-2 pb-md-0 mb-4 mb-md-0">
            <div class="ps-lg-5">
              <img src="https://cdn.nimusoft.com/nimusoft/assets/img/case-studies/real-estate.png" class="rounded-3" alt="Image">
            </div>
          </div>
          
          <div class="col-md-6 ordr-md-1">
            
            <h2 class="h3 mb-sm-4">Real Estate ERP and Management Software</h2>
            <p class="d-md-none d-xl-block pb-2 pb-md-3 mb-3">
              
              We develop custom web based software that controls all operational processes and activities of real estate agencies, from managing a property to controlling real estate agencies, agents, and clients as well as financial transactions. Our advanced software solutions will help you to handle processes more effectively. It offers thorough reports for managing the effectiveness and performance of real estate agencies and helps management to make better decisions. It provides your company both immediate and long-term advantages, such as increased profit margins and cost effectiveness across the board.

            </p>
           
            
            
            <div class="d-flex flex-column flex-sm-row">
              <a href="#" class="btn btn-primary mb-3 mb-sm-0 me-sm-3">Send request</a>
              
            </div>
          </div>
        
        
        </div>
      </section>


      <!-- Case studies 3 -->
      <section class="container pt-2 pt-lg-3 mb-md-3 mb-lg-5 pb-5">
        <div class="row">
          <div class="col-md-6 pb-2 pb-md-0 mb-4 mb-md-0">
            <div class="pe-lg-5">
              <img src="https://cdn.nimusoft.com/nimusoft/assets/img/case-studies/health-care.png" class="rounded-3" alt="Image">
            </div>
          </div>
          <div class="col-md-6">
            <h2 class="h3 mb-sm-4">Healthcare System And Medical ERP</h2>
            <p class="d-md-none d-xl-block pb-2 pb-md-3 mb-3">
              Well executed Healthcare Management software help to remove on a great deal of manual work that is basically performed in medical clinics particularly the ones where documentation and record keeping are required. Healthcare management system is a cloud-based web framework for managing medical information that registers and includes data from every department to automate all internal processes. It aims to accomplish a wide variety of activities, from improving patient experience to optimizing the workflow for medical personnel, as well as everything in between, including lowering administrative expenses and minimizing mistakes.
              We develop custom cloud based software for hospitals and diagnostic centers that combined by clinicians, patients, medical supplies, laboratory results data, insurance, medical bills, doctor appointments, and reports management features.

            </p>
            
            
            
            <div class="d-flex flex-column flex-sm-row">
              <a href="#" class="btn btn-primary mb-3 mb-sm-0 me-sm-3">Send request</a>
              
            </div>
          </div>
        </div>
      </section>
      
      
      
      <!-- Testimonials (Slider) -->
      <section style="margin-top: 30px;" class="container pb-5 mb-md-2 mb-xl-4">
        <div class="row pb-lg-2">
          <div class="col-md-5 mb-4 mb-md-0">
            <div style="background-color: #154360 !important;" class="card justify-content-center bg-dark h-100 p-4 p-lg-5">
              <div class="p-2">
                <h3 style="color: white !important;" class="display-4 text-primary mb-1">20+</h3>
                <h2 class="text-light pb-5 mb-2">Clients Already Served</h2>
                
              </div>
            </div>
          </div>
         
          <div class="col-md-7">
            <div class="card border-0 shadow-sm p-4 p-xxl-5">

              <!-- Slider prev/next buttons + Quotation mark -->
              <div class="d-flex justify-content-between pb-4 mb-2">
                <span class="btn btn-icon btn-primary btn-lg pe-none">
                  <i class="bx bxs-quote-left"></i>
                </span>
                <div class="d-flex">
                  <button type="button" id="testimonial-prev" class="btn btn-prev btn-icon btn-sm me-2">
                    <i class="bx bx-chevron-left"></i>
                  </button>
                  <button type="button" id="testimonial-next" class="btn btn-next btn-icon btn-sm ms-2">
                    <i class="bx bx-chevron-right"></i>
                  </button>
                </div>
              </div>   
              
              <!-- Slider -->
              <div class="swiper mx-0 mb-md-n2 mb-xxl-n3" data-swiper-options='{
                "spaceBetween": 24,
                "loop": true,
                "pagination": {
                  "el": ".swiper-pagination",
                  "clickable": true
                },
                "navigation": {
                  "prevEl": "#testimonial-prev",
                  "nextEl": "#testimonial-next"
                }
              }'>
                <div class="swiper-wrapper">
        
                  <!-- Item -->
                  <div class="swiper-slide h-auto" data-swiper-tab="#author-1">
                    
                    
                    <figure class="card h-100 position-relative border-0 bg-transparent">
                      
                      <blockquote class="card-body p-0 mb-0">
                        <p class="fs-lg mb-0">Nimusoft significantly increased our productivity because of their enthusiasm and superior technological knowledge. They have excellent communication skills which improved our product faster and makes our customers happier. They frequently came up with better solutions than they were provided. Nimusoft provided us with cloud engineering expertise also. They were focused on creating quality features and more efficient solutions for users.</p>
                        
                       
 
                      </blockquote>
                      
                      <figcaption class="card-footer border-0 d-flex align-items-center w-100 pb-2">
                        <img src="https://cdn.nimusoft.com/nimusoft/assets/img/avatar/client-islam-1.png" width="48" height="48" class="rounded-circle" alt="Shafiqul Islam">
                        <div class="ps-3">
                          <h5 class="fw-semibold lh-base mb-0">Mohammad Shafiqul Islam</h5>
                          <span class="fs-sm text-muted">Chairman, Faris Al-Reem Constructing Co.</span>
                        </div>
                      </figcaption>
                      
                    </figure>
                    
                    
                    
                    
                  
                  
                  </div>
        
                  <!-- Item -->
                  <div class="swiper-slide h-auto" data-swiper-tab="#author-2">
                    
                    <figure class="card h-100 position-relative border-0 bg-transparent">
                      <blockquote class="card-body p-0 mb-0">
                        <p class="fs-lg mb-0">It never felt like a long-distance project because of their excellent communication skills. As their project manager always kept me updated, I had the impression that Nimusoft was a neighboring company. Additionally, they provide great work with fair prices and attentive service.
                          We recommend Nimusoft as a reliable partner in the area of development and implementation of complex business solutions.</p>
                      
                      
                        </blockquote>
                      <figcaption class="card-footer border-0 d-flex align-items-center w-100 pb-2">
                        <img src="https://cdn.nimusoft.com/nimusoft/assets/img/avatar/client-naime-2.png" width="48" height="48" class="rounded-circle" alt="Naime Dhalee">
                        <div class="ps-3">
                          <h5 class="fw-semibold lh-base mb-0">Naime Dhalee</h5>
                          <span class="fs-sm text-muted">Founder of Blue Vision Victory Agro, Malaysia.</span>
                        </div>
                      </figcaption>
                    </figure>
                    
                    
                    
                  
                  
                  </div>
        
                  <!-- Item -->
                  <div class="swiper-slide h-auto" data-swiper-tab="#author-3">
                    
                    <figure class="card h-100 position-relative border-0 bg-transparent">
                      <blockquote class="card-body p-0 mb-0">
                        
                        <p class="fs-lg mb-0">
                          Nimusoft team managed to improve our existing service architecture, add important features to our new site and real estate management system. All project management and communications were done in a very professional manner from the first. Additionally, the code's quality was excellent and consistent. Nimusoft comes with our highest recommendation for anyone looking to successfully plan and carry out a project of the best quality.
                        </p>
                      
                      </blockquote>
                      <figcaption class="card-footer border-0 d-flex align-items-center w-100 pb-2">
                        <img src="https://cdn.nimusoft.com/nimusoft/assets/img/avatar/client-masud-2.jpg" width="48" height="48" class="rounded-circle" alt="Masud Alam">
                        <div class="ps-3">
                          <h5 class="fw-semibold lh-base mb-0">Md Masud Alam</h5>
                          <span class="fs-sm text-muted">Manager, Moslama Shafiqul Islam Real Estate Ltd.</span>
                        </div>
                      
                      </figcaption>
                    </figure>
                    
                  
                  
                  
                  </div>
                </div>
        
                <!-- Pagination (bullets) -->
                <div class="swiper-pagination position-relative pt-3 mt-4"></div>
              </div>        
            </div>
          </div>
        </div>
      </section>


      <!-- Brands (Carousel) -->
      <section class="container pb-5">
       
        <div class="swiper mx-n2" data-swiper-options='{
          "slidesPerView": 2,
          "pagination": {
            "el": ".swiper-pagination",
            "clickable": true
          },
          "breakpoints": {
            "500": {
              "slidesPerView": 3,
              "spaceBetween": 8
            },
            "650": {
              "slidesPerView": 4,
              "spaceBetween": 8
            },
            "900": {
              "slidesPerView": 5,
              "spaceBetween": 8
            },
            "1100": {
              "slidesPerView": 6,
              "spaceBetween": 8
            }
          }
        }'>
          <div class="swiper-wrapper">

            <!-- Item -->
            <div class="swiper-slide py-3">
              <a href="#" class="card card-body card-hover px-2 mx-2">
                <img src="https://cdn.nimusoft.com/nimusoft/assets/img/brands/01.svg" class="d-block mx-auto my-2" width="154" alt="Brand">
              </a>
            </div>

            <!-- Item -->
            <div class="swiper-slide py-3">
              <a href="#" class="card card-body card-hover px-2 mx-2">
                <img src="https://cdn.nimusoft.com/nimusoft/assets/img/brands/02.svg" class="d-block mx-auto my-2" width="154" alt="Brand">
              </a>
            </div>

            <!-- Item -->
            <div class="swiper-slide py-3">
              <a href="#" class="card card-body card-hover px-2 mx-2">
                <img src="https://cdn.nimusoft.com/nimusoft/assets/img/brands/03.svg" class="d-block mx-auto my-2" width="154" alt="Brand">
              </a>
            </div>

            <!-- Item -->
            <div class="swiper-slide py-3">
              <a href="#" class="card card-body card-hover px-2 mx-2">
                <img src="https://cdn.nimusoft.com/nimusoft/assets/img/brands/04.svg" class="d-block mx-auto my-2" width="154" alt="Brand">
              </a>
            </div>

            <!-- Item -->
            <div class="swiper-slide py-3">
              <a href="#" class="card card-body card-hover px-2 mx-2">
                <img src="https://cdn.nimusoft.com/nimusoft/assets/img/brands/05.svg" class="d-block mx-auto my-2" width="154" alt="Brand">
              </a>
            </div>

            <!-- Item -->
            <div class="swiper-slide py-3">
              <a href="#" class="card card-body card-hover px-2 mx-2">
                <img src="https://cdn.nimusoft.com/nimusoft/assets/img/brands/06.svg" class="d-block mx-auto my-2" width="154" alt="Brand">
              </a>
            </div>
          </div>

          <!-- Pagination (bullets) -->
          <div class="swiper-pagination position-relative pt-2 mt-4"></div>
        </div>
      </section>

      {% endblock %}

      {% block custom_scripts %}
      <script>

      var myCarousel = document.querySelector('#homeCarousel')
      var carousel = new bootstrap.Carousel(myCarousel)

      </script>
    {% endblock %}

    
    