
    {% extends 'base.html' %}
    
    {% block title %}
      
      <title>Nimusoft | Jobs </title>
    
    {% endblock %}
    
    {% block page_loader %}
    
    {% endblock %}

    {% block loading_script %}
    
    {% endblock %}
    
    
    {% block header%} 
    <!-- Navbar -->
    <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page -->
    <header id="gradient" class="header navbar navbar-expand-lg bg-light navbar-sticky">
    <div class="container px-3">
        <a href="/" class="navbar-brand pe-3">
        <img src="https://cdn.nimusoft.com/nimusoft/assets/img/nimusoft-logo.svg" width="120" alt="Nimusoft">
        
        </a>
        
        <div id="navbarNav" class="offcanvas offcanvas-end">
        <div class="offcanvas-header border-bottom">
            <h5 class="offcanvas-title">Menu</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        
        <div class="offcanvas-body">
            <ul class="navbar-nav nav-custom-right mb-2 mb-lg-0">
            
            
            
              <li class="nav-item">
                <a href="/" class="nav-link">Home</a>
            </li>

            
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Services</a>
                <ul class="dropdown-menu">
                
                
                <hr style="margin-top: -9px;">
                <li style="margin-bottom: 8px; margin-top: 8px;">
                    
                    <a href="{% url 'home:medical_solution' %}" class="dropdown-item">Medical Solution</a>
                
                </li>
                <hr>
                
                <li style="margin-bottom: 8px; margin-top: 8px;"><a href="{% url 'home:mobile_app' %}" class="dropdown-item">Mobile App Development</a></li>
                <hr>
                <li style="margin-bottom: 8px; margin-top: 8px;"><a href="{% url 'home:erp_solution' %}" class="dropdown-item">ERP Solution</a></li>
                <hr>
                <li style="margin-bottom: 8px; margin-top: 8px;"><a href="{% url 'home:e_commerce_solution' %}" class="dropdown-item">E-commerce Solution</a></li>
                <hr>

                <li style="margin-bottom: 8px; margin-top: 8px;"><a href="{% url 'home:cyber_security' %}" class="dropdown-item">Cyber Security</a></li>
                <hr>

                <li style="margin-bottom: 8px; margin-top: 8px;"><a href="{% url 'home:data_analytics' %}" class="dropdown-item">Data Analytics</a></li>
                
                <hr>
                <li style="margin-bottom: 8px; margin-top: 8px;"><a href="{% url 'home:iot_and_vr' %}" class="dropdown-item">IOT & Virtual Reality</a></li>
                
                
                <hr>

                <li style="margin-bottom: 8px; margin-top: 9px;"><a href="{% url 'home:cloud_services' %}" class="dropdown-item">Cloud Services</a></li>
                <hr style="margin-bottom: -9px;">
                
                
                </ul>
            </li>
            
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Industries</a>
                <ul class="dropdown-menu">
                
                
                <hr style="margin-top: -9px;">
                <li style="margin-bottom: 8px; margin-top: 8px;">
                    
                    <a href="{% url 'home:education' %}" class="dropdown-item">Education</a>
                
                </li>
                <hr>
                
                <li style="margin-bottom: 8px; margin-top: 8px;"><a href="{% url 'home:real_estate' %}" class="dropdown-item">Real Estate</a></li>
                <hr>
                <li style="margin-bottom: 8px; margin-top: 8px;"><a href="{% url 'home:construction' %}" class="dropdown-item">Construction</a></li>
                <hr>
                <li style="margin-bottom: 8px; margin-top: 8px;"><a href="{% url 'home:healthcare' %}" class="dropdown-item">Healthcare</a></li>
                
                <hr>
                <li style="margin-bottom: 8px; margin-top: 8px;"><a href="{% url 'home:robotics_and_ai' %}" class="dropdown-item">AI & Robotics</a></li>
                
                <hr>
                <li style="margin-bottom: 8px; margin-top: 9px;"><a href="{% url 'home:e_commerce' %}" class="dropdown-item">E-commerce</a></li>
                <hr style="margin-bottom: -9px;">
                
                
                </ul>
            </li>
            
            
            <li class="nav-item">
                <a href="{% url 'home:case_studies' %}" class="nav-link">Case Studies</a>
            </li>
            
            <li class="nav-item">
                <a href="{% url 'home:about' %}" class="nav-link">About Us</a>
            </li>

            <li class="nav-item">
                <a href="{% url 'home:contact' %}" class="nav-link">Contact Us</a>
            </li>
            
            <li class="nav-item">
              <a href="" class="nav-link">Login</a>
            </li>
            
            
            </ul>
        </div>
        
        <div class="offcanvas-header border-top">
            
          
            <p style="margin-top: -8px; margin-bottom: -8px; margin-left: 27px;">Nimusft Technologies Ltd.</p>
        
         
          
        </div>      
        
      
      </div>
        
        
        
        
        <button type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span style="margin-top: -8px;" class="navbar-toggler-icon"></span>
        
        <p style="margin-top: 14px; font-size: 9px;">Menu</p>
        
        </button>
        
        
        
    </div>
    </header>
    {% endblock %}
    
    
    
    {% block main %}


      <!-- Page Content -->
      
      
      

      <div class="container">

        <div class="row">

            
            <div class="col-md-2">

            </div>

            <div class="col-md-8">

                <!-- Breadcrumb -->
            <nav style="margin-left: -10px;"  class="container py-4 mb-lg-2" aria-label="breadcrumb">
                <ol class="breadcrumb pt-lg-3 mb-0">
                    <li class="breadcrumb-item">
                    <a style="color: #154360 !important;" href="/career"><b>Jobs</b></a>
                    </li>
                     
                    <li class="breadcrumb-item active">
                        <a style="color: #154360 !important;">Python(django) developer</a>
                    </li>
                    
                    
                </ol>
                </nav>
                
                <div style="margin-top: -10px;" class="col-md-12">
                    <h3 class="job-name">
                        Python(django) developer
                    </h3>
    
                    <p class="job-message d-md-none d-xl-block pb-2 pb-md-3 mb-3">
                        We are looking for hardworking developer. Grab this opportunity to be a part of our team!
                    </p>
    
                
                    <div style="float: right; margin-top: -120px;">
                        <button style="width: 150px !important;" type="submit" class="apply-mobile btn btn-sm btn-primary w-100 w-sm-auto">Apply Now!</button>
                     
                    </div>
                    
                      
                
                </div>

            </div>

            <div class="col-md-2">

            </div>


            
            

        
        
        </div>

        <div class="row">

           
           <div class="col-md-2">

           </div>

           <div class="col-md-8">

            
            <h4 style="margin-top: -20px;">
                Vacancy - (2)
            </h4>
            
            <h4>
                Job Context
            </h4>
                
               
            <ul style="margin-left: 7px;">
                <li>Internship type - Paid</li>
                <li>Internship period – 4 to 6 months.</li>
                <li>Job location - Dhaka</li>
                <li>After completion interns might be able to join the core team based on further review.</li>
            </ul>
            
            <h4>
                Job Requirements
            </h4>
                
               
            <ul style="margin-left: 7px;">
                
                <li>Basic understanding of software engineering fundamentals and OOP concepts </li>
                
                <li>Intermediate knowledge of Python programming language</li>
                
                <li>Good knowledge of Relational Database</li>
                
                <li>Understanding of version control system(like Git)</li>

                <li>Good interpersonal communication abilities</li>

                <li>Dedication, quick and self-learning capability</li>
           
            
            </ul>

            <h4>
                Employment Status


            </h4>
            <p style="margin-left: 23px;" class="d-md-none d-xl-block pb-2 pb-md-3 mb-3">
                <b>Full-time</b>
            </p>

            <h4>
                Workplace

            </h4>
            <p style="margin-left: 23px;" class="d-md-none d-xl-block pb-2 pb-md-3 mb-3">
                <b>Work at office</b>
            </p>
            
            <h4>
                Working hours

            </h4>
            <p style="margin-left: 23px;" class="d-md-none d-xl-block pb-2 pb-md-3 mb-3">
                <b>10am to 5pm</b>
            </p>

            <h4>
                Educational Requirements
            </h4>
                
               
            <ul style="margin-left: 7px;">
                
                <li>Bachelor of Science (BSc) in CSE</li>
                
                <li>Last semester student or fresh graduates of BSc in Computer Science or relevant</li>
                
                <li>Educational qualification might be relaxed for experienced candidates</li>
                
                
            
            </ul>

            <h4>
                Remuneration
            </h4>
                
               
            <ul style="margin-left: 7px;">
                
                <li>Tk. 6000 - 8000 (Monthly)</li>
                
                <li>Please note that this is a paid internship and after completion, interns might be able to join the core team based on further review.</li>
                
                
                
            
            </ul>

            <h4>
                Other Benefits
            </h4>
                
               
            <ul style="margin-left: 7px;">
                
                <li>Excellent culture and working environment</li>
                
                <li>Opportunity of job placement</li>
                <li>Weekly 2 holidays</li>
                <li>Snacks and Unlimited tea/coffee</li>
                
                
                
            
            </ul>
    

           
        
        
        
        
        </div>

          
          
          
          
          
          
          
          
          
          
          
          
           <div class="col-md-2">

           </div>


           
            
                

        </div>

        <div class="row">

            <div class="col-md-5">

            </div>

            <div class="col-md-2">

                <h4 class="text-center">Contact</h4>
                <p class="text-center"><i class='bx bx-phone'></i> +88 01777 424142</p>
                <p style="margin-top: -20px;" class="text-center"><i class='bx bx-envelope' ></i> contact@nimusoft.com</p>
                
                
                <div class="text-center">
                    
                    <button style="width: 150px !important; margin-bottom: 35px;" type="submit" class="btn btn-sm btn-primary w-100 w-sm-auto">Apply Now!</button>
                 
                </div>

            </div>

            <div class="col-md-5">

            </div>



        </div>

      
    
    </div>

   
    {% endblock %}

    {% block custom_scripts %}
      
    {% endblock %}

    
    