
    {% extends 'base.html' %}
    
    {% block title %}
      
      <title>Nimusoft | Jobs </title>
    
    {% endblock %}
    
    {% block page_loader %}
    
    {% endblock %}

    {% block loading_script %}
    
    {% endblock %}
    
    
    {% block header%} 
    <!-- Navbar -->
    <!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page -->
    <header id="gradient" class="header navbar navbar-expand-lg bg-light navbar-sticky">
    <div class="container px-3">
        <a href="/" class="navbar-brand pe-3">
        <img src="https://cdn.nimusoft.com/nimusoft/assets/img/nimusoft-logo.svg" width="120" alt="Nimusoft">
        
        </a>
        
        <div id="navbarNav" class="offcanvas offcanvas-end">
        <div class="offcanvas-header border-bottom">
            <h5 class="offcanvas-title">Menu</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        
        <div class="offcanvas-body">
            <ul class="navbar-nav nav-custom-right mb-2 mb-lg-0">
            
            
            
              <li class="nav-item">
                <a href="/" class="nav-link">Home</a>
            </li>

            
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Services</a>
                <ul class="dropdown-menu">
                
                
                <hr style="margin-top: -9px;">
                <li style="margin-bottom: 8px; margin-top: 8px;">
                    
                    <a href="{% url 'home:medical_solution' %}" class="dropdown-item">Medical Solution</a>
                
                </li>
                <hr>
                
                <li style="margin-bottom: 8px; margin-top: 8px;"><a href="{% url 'home:mobile_app' %}" class="dropdown-item">Mobile App Development</a></li>
                <hr>
                <li style="margin-bottom: 8px; margin-top: 8px;"><a href="{% url 'home:erp_solution' %}" class="dropdown-item">ERP Solution</a></li>
                <hr>
                <li style="margin-bottom: 8px; margin-top: 8px;"><a href="{% url 'home:e_commerce_solution' %}" class="dropdown-item">E-commerce Solution</a></li>
                <hr>

                <li style="margin-bottom: 8px; margin-top: 8px;"><a href="{% url 'home:cyber_security' %}" class="dropdown-item">Cyber Security</a></li>
                <hr>

                <li style="margin-bottom: 8px; margin-top: 8px;"><a href="{% url 'home:data_analytics' %}" class="dropdown-item">Data Analytics</a></li>
                
                <hr>
                <li style="margin-bottom: 8px; margin-top: 8px;"><a href="{% url 'home:iot_and_vr' %}" class="dropdown-item">IOT & Virtual Reality</a></li>
                
                
                <hr>

                <li style="margin-bottom: 8px; margin-top: 9px;"><a href="{% url 'home:cloud_services' %}" class="dropdown-item">Cloud Services</a></li>
                <hr style="margin-bottom: -9px;">
                
                
                </ul>
            </li>
            
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Industries</a>
                <ul class="dropdown-menu">
                
                
                <hr style="margin-top: -9px;">
                <li style="margin-bottom: 8px; margin-top: 8px;">
                    
                    <a href="{% url 'home:education' %}" class="dropdown-item">Education</a>
                
                </li>
                <hr>
                
                <li style="margin-bottom: 8px; margin-top: 8px;"><a href="{% url 'home:real_estate' %}" class="dropdown-item">Real Estate</a></li>
                <hr>
                <li style="margin-bottom: 8px; margin-top: 8px;"><a href="{% url 'home:construction' %}" class="dropdown-item">Construction</a></li>
                <hr>
                <li style="margin-bottom: 8px; margin-top: 8px;"><a href="{% url 'home:healthcare' %}" class="dropdown-item">Healthcare</a></li>
                
                <hr>
                <li style="margin-bottom: 8px; margin-top: 8px;"><a href="{% url 'home:robotics_and_ai' %}" class="dropdown-item">AI & Robotics</a></li>
                
                <hr>
                <li style="margin-bottom: 8px; margin-top: 9px;"><a href="{% url 'home:e_commerce' %}" class="dropdown-item">E-commerce</a></li>
                <hr style="margin-bottom: -9px;">
                
                
                </ul>
            </li>
            
            
            <li class="nav-item">
                <a href="{% url 'home:case_studies' %}" class="nav-link">Case Studies</a>
            </li>
            
            <li class="nav-item">
                <a href="{% url 'home:about' %}" class="nav-link">About Us</a>
            </li>

            <li class="nav-item">
                <a href="{% url 'home:contact' %}" class="nav-link">Contact Us</a>
            </li>
            
            
            
            
            </ul>
        </div>
        
        <div class="offcanvas-header border-top">
            
          
            <p style="margin-top: -8px; margin-bottom: -8px; margin-left: 27px;">Nimusft Technologies Ltd.</p>
        
         
          
        </div>      
        
      
      </div>
        
        
        
        
        <button type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span style="margin-top: -8px;" class="navbar-toggler-icon"></span>
        
        <p style="margin-top: 14px; font-size: 9px;">Menu</p>
        
        </button>
        
        
        
    </div>
    </header>
    {% endblock %}
    
    
    
    {% block main %}


      <!-- Page Content -->
      
      
      

      <div class="container">

        <div class="row">

            
            <div class="col-md-2">

            </div>

            <div class="col-md-8">

                {% if messages %}
                {% for message in messages %}
                
                <div class="alert alert-{{ message.tags }} text-center" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
            
            
                <!-- Breadcrumb -->
            <nav style="margin-left: -10px;"  class="container py-4 mb-lg-2" aria-label="breadcrumb">
                <ol class="breadcrumb pt-lg-3 mb-0">
                    <li class="breadcrumb-item">
                    <a style="color: #154360 !important;" href="/career"><b>Jobs</b></a>
                    </li>
                     
                    <li class="breadcrumb-item active">
                        <a style="color: #154360 !important;">Python Developer – Intern</a>
                    </li>
                    
                    
                </ol>
                </nav>
                
                <div style="margin-top: -10px;" class="col-md-12">
                    <h4 class="job-name">
                        Python Developer – Intern(Paid)
                    </h4>
    
                    <p class="job-message d-md-none d-xl-block pb-2 pb-md-3 mb-3">
                        We are looking for hardworking and enthusiastic intern. Grab this opportunity to be a part of our team!
                    </p>
    
                
                    <div style="float: right; margin-top: -100px;">
                        
                        <button style="width: 150px !important; box-shadow: none;" type="button" data-bs-toggle="modal" data-bs-target="#jobsApply" class="apply-mobile btn btn-sm btn-primary w-100 w-sm-auto">Apply Now!</button>
                     
                    </div>
                    
                      
                
                </div>

            </div>

            <div class="col-md-2">

            </div>


            
            

        
        
        </div>

        <div class="row">

           
           <div class="col-md-2">

           </div>

           <div class="col-md-8">

            
            <h6 style="margin-top: -20px;">
                Vacancy - (5)
            </h6>
            
            <h6>
                Job Context
            </h6>
                
               
            <ul style="margin-left: 7px;">
                <li>Internship type - Paid</li>
                <li>Internship period – 4 to 6 months.</li>
                <li>Job location - Dhaka</li>
                <li>After completion interns might be able to join the core team based on further review.</li>
            </ul>
            
            <h6>
                Job Requirements
            </h6>
                
               
            <ul style="margin-left: 7px;">
                
                <li>Basic understanding of software engineering fundamentals and OOP concepts </li>
                
                <li>Intermediate knowledge of Python programming language</li>
                
                <li>Good knowledge of Relational Database</li>
                
                <li>Understanding of version control system(like Git)</li>

                <li>Good interpersonal communication abilities</li>

                <li>Dedication, quick and self-learning capability</li>
           
            
            </ul>

            <div style="display: flex;">

                <div>
                    <h6>
                        Employment Status:
        
                    </h6>
                </div>
    
                <div style="margin-left: 10px; margin-top: 1.5px; font-size: small;">
                    <b>Full-time</b>
    
                </div>
                
            </div>


            <div style="display: flex;">

                <div>
                    <h6>
                        Workplace:
        
                    </h6>
                </div>
    
                <div style="margin-left: 10px; margin-top: 1.5px; font-size: small;">
                    <b>Work at office</b>
    
                </div>
                
            </div>
            
            <div style="display: flex;">

                <div>
                    <h6>
                        Woring Hours:
        
                    </h6>
                </div>
    
                <div style="margin-left: 10px; margin-top: 1.5px; font-size: small;">
                    <b>10am to 5 pm</b>
    
                </div>
                
            </div>

            <h6>
                Educational Requirements
            </h6>
                
               
            <ul style="margin-left: 7px;">
                
                <li>Bachelor of Science (BSc) in CSE</li>
                
                <li>Last semester student or fresh graduates of BSc in Computer Science or relevant</li>
                
                <li>Educational qualification might be relaxed for experienced candidates</li>
                
                
            
            </ul>

            <h6>
                Remuneration
            </h6>
                
               
            <ul style="margin-left: 7px;">
                
                <li>Tk. 6000 - 8000 (Monthly)</li>
                
                <li>Please note that this is a paid internship and after completion, interns might be able to join the core team based on further review.</li>
                
                
                
            
            </ul>

            <h6>
                Other Benefits
            </h6>
                
               
            <ul style="margin-left: 7px;">
                
                <li>Excellent culture and working environment</li>
                
                <li>Opportunity of job placement</li>
                <li>Weekly 2 holidays</li>
                <li>Snacks and Unlimited tea/coffee</li>
                
                
                
            
            </ul>
    

           
        
        
        
        
        </div>

          
          
          
          
          
          
          
          
          
          
          
          
           <div class="col-md-2">

           </div>


           
            
                

        </div>

        <div class="row">

            <div class="col-md-5">

            </div>

            <div class="col-md-2">

                <h4 class="text-center">Contact</h4>
                <p class="text-center"><i class='bx bx-phone'></i> +88 01777 424142</p>
                <p style="margin-top: -20px;" class="text-center"><i class='bx bx-envelope' ></i> contact@nimusoft.com</p>
                
                
                <div class="text-center">
                    
                    <button type="button" style="width: 150px !important; margin-bottom: 35px; box-shadow: none;" data-bs-toggle="modal" data-bs-target="#jobsApply" class="btn btn-sm btn-primary w-100 w-sm-auto">Apply Now!</button>
                 
                </div>

            </div>

            <div class="col-md-5">

            </div>



        </div>

      
    
    </div>

   
  <!-- Modal Jobs Apply -->
  <div class="modal fade" id="jobsApply" tabindex="-1" aria-hidden="true">
    
    
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Apply For Python Developer – Intern(Paid)</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <form method="post" action="" enctype="multipart/form-data">
                    
            <div class="modal-body">
            
               
                    {% csrf_token %}
                    
                    <div class="mb-3">
                      <label class="form-label">Your Name<sup style="color:red;">*</sup></label>
                      <input type="text" name="name" class="form-control" required>
                      
                    </div>
                    
                   

                    <div class="mb-3">
                        <label class="form-label">Your Email<sup style="color:red;">*</sup></label>
                        <input type="email" name="email" class="form-control" required>
                        
                    </div>

                    
                    <div class="mb-3">
                        
                        <label class="form-label">Your Phone Number<sup style="color:red;">*</sup></label>
                        <input type="text" name="phone" class="form-control" required>
                        
                    </div>

                    <div class="mb-3">
                        
                        <label class="form-label">Present Address<sup style="color:red;">*</sup></label>
                        <input type="text" name="present_address" class="form-control" required>
                        
                    </div>
                     
                    <div class="mb-3">
                        
                        <label class="form-label">University</label>
                        <input type="text" name="university" class="form-control">
                        
                    </div>

                    
                    <div class="mb-3">
                        <label class="form-label">Cover Letter<sup style="color:red;">*</sup></label>
                        
                        <textarea name="cover_letter" rows="3" class="form-control" required>
                        
                        </textarea>
                        
                    </div>
                   
                    <div class="mb-3">
                        <label class="form-label">Resume<sup style="color:red;">*</sup>
                            
                            <span style="margin-left: 50px; color:green;"></span>
                           
                        </label>
                            
                         <input style="background-color: white;" type="file" name="resume" class="form-control" accept="pdf/*" required>
                         
                    </div>
            
            
            </div>
            
            
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            
            <button type="submit" class="btn btn-primary">Submit</button>
        
        </form>
        
        </div>
    </div>
  

   </div>
    

   
    {% endblock %}

    {% block custom_scripts %}
      
    {% endblock %}

    
    