element.style{
    
    display: flex;
    flex-wrap: wrap;
    
}
img, figure {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-radius: 10px;
}

*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
section {
    display: block;
}


  .row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
  }
*{
    padding-left: 60px;
    padding-right: 60px;
}

*, ::after, ::before {
    box-sizing: border-box;
}

 
*, ::after, ::before {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}

.col-sm-12 {
    flex: 0 0 auto;
    width: 100%;
}


:-webkit-any(article, aside, nav, section) {
    
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
}


.container {
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 0%;
    margin-right: auto;
    margin-left: auto;

}

div {
    display: block;
}
*{
box-sizing: border-box;
}
* {
    margin: 0px;
    padding: 0px;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


p {
    
    text-align: justify;
}
p {
    margin: 0 0 px;
}
.Institute-types.ecom .inner-type h2::before {
    content: "\f07a" !important;
}


.col-sm-6 {
    width: 50%;
    float: left;
}
 .col-lg-4{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.col-xs-12 {
    width: 100%;
    float: left;
}

@media (min-width: 992px){
.col-md-6 {
    width: 50%;
    float: left;
}
}


.mt-20 {
    margin-top: 20px!important;
}
.col-md-6
{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}


a {
    text-decoration: none;
}
a, button, input {
    outline: medium!important;
}



.justify-content-center {
    justify-content: center!important;
}


.col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
}

section-title {
    margin-bottom: 40px;
    position: relative;
}
.text-center {
    text-align: center!important;
}

h2 {
    font-size: 28px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Lato,sans-serif;
    color: #363636;
    /*margin-top: 0;*/
}
h2 {
    display: block;
    
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}
.mb-30 {
    margin-bottom: 30px!important;
}

@media (min-width: 992px)
{
.col-lg-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
}
}

.feature-text.box-shadow {
    background: #fff;
}
.feature-text.box-shadow {
    box-shadow: 0 0 30px rgb(0 0 0 / 9%);
    padding: 20px;
}
.h-100 {
    height: 100%!important;
}
.feature-icon img {
    width: 95px;
    height: auto;
    margin-bottom: 15px;
}
.feature-icon img {
    width: 95px;
    height: auto;
    margin-bottom: 15px;
}
img, svg {
    vertical-align: middle;
}
