
    {% extends 'base.html' %}
    
    {% block title %}
      
      <title>Nimusoft | Cloud Services </title>
    
    {% endblock %}
    
    {% block page_loader %}
    
    {% endblock %}

    {% block loading_script %}
    
    {% endblock %}
    
    
    {% block main %}

    
    
       <!-- Breadcrumb -->
       <nav class="container py-4 mb-2 my-lg-3" aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item">
            <a href="/"><i class="bx bx-home-alt fs-lg me-1"></i>Home</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Cloud Services</li>
        </ol>
      </nav>

      <!-- Cloud Service -->
      
      <section class="container mb-md-3 mb-lg-5 pb-5">
        <div class="row">
          <div class="col-md-6 pb-2 pb-md-0 mb-4 mb-md-0">
            <div class="pe-lg-5">
              <img src="https://cdn.nimusoft.com/nimusoft/assets/img/services/service-cloud-engineering.png" class="rounded-3" alt="Image">
            </div>
          </div>
          
          <div class="col-md-6">
            
            <p class="d-md-none d-xl-block pb-2 pb-md-3 mb-3">
              
              No matter how tiny a company may be, having access to the best cloud storage for business is essential. Keeping data and documents safe is crucial, even if you only have a small staff or if it's just you. We are aware of far too many companies that have misplaced work-in-progress or even finished work that wasn't cloud-backed up.

            </p>

            <p class="d-md-none d-xl-block pb-2 pb-md-3 mb-3">
              Nimusoft will guide you in the correct route by explaining what cloud storage is, how it helps you, and how to pick the best provider, whether you're new to cloud storage or an experienced.
            </p>

            <p class="d-md-none d-xl-block pb-2 pb-md-3 mb-3">
              However, if those don't quite meet your needs, we also have guides to the best free cloud storage, best lifetime cloud storage deals, best business cloud storage, best cloud backup services, and best photo cloud storage. Our focus has been on high-quality paid packages for consumers and small businesses.
            </p>
           
            
            
            
            <div class="d-flex flex-column flex-sm-row">
              <a href="#" class="btn btn-primary mb-3 mb-sm-0 me-sm-3">Send request</a>
              
            </div>
          </div>
        
        
        </div>
      </section>

   

   
    {% endblock %}

    {% block custom_scripts %}
      
    {% endblock %}

    
    