
    {% extends 'base.html' %}
    
    {% block title %}
      
      <title>Nimusoft | Cyber Security </title>
    
    {% endblock %}
    
    {% block page_loader %}
    
    {% endblock %}

    {% block loading_script %}
    
    {% endblock %}
    
    
    {% block main %}

    
    
       <!-- Breadcrumb -->
       <nav class="container py-4 mb-2 my-lg-3" aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item">
            <a href="/"><i class="bx bx-home-alt fs-lg me-1"></i>Home</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Cyber Security</li>
        </ol>
      </nav>

      <!-- Cyber Security Service -->
      
      <section class="container mb-md-3 mb-lg-5 pb-5">
        <div class="row">
          <div class="col-md-6 pb-2 pb-md-0 mb-4 mb-md-0">
            <div class="pe-lg-5">
              <img src="https://cdn.nimusoft.com/nimusoft/assets/img/services/service-cyber-security.png" class="rounded-3" alt="Image">
            </div>
          </div>
          
          <div class="col-md-6">
            
            <p class="d-md-none d-xl-block pb-2 pb-md-3 mb-3">
              
              Nimusoft offers services and resources for security. We cooperate to give our clients hacker-proof security that will protect them from nefarious hackers. Our security professionals aim to protect anything digital across clouds and assist businesses in strengthening their security. We offer advanced techniques for managing access control, network and system infrastructure, cyber security concerns, and other technological elements.

            </p>
           
            
            
            
            <div class="d-flex flex-column flex-sm-row">
              <a href="#" class="btn btn-primary mb-3 mb-sm-0 me-sm-3">Send request</a>
              
            </div>
          </div>
        
        
        </div>
      </section>

   

   
    {% endblock %}

    {% block custom_scripts %}
      
    {% endblock %}

    
    