
    {% extends 'base.html' %}
    
    {% block title %}
      
      <title>Nimusoft | E-commerce Solution </title>
    
    {% endblock %}
    
    {% block page_loader %}
    
    {% endblock %}

    {% block loading_script %}
    
    {% endblock %}
    
    
    {% block main %}

    
    
       <!-- Breadcrumb -->
       <nav class="container py-4 mb-2 my-lg-3" aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item">
            <a href="/"><i class="bx bx-home-alt fs-lg me-1"></i>Home</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">E-commerce Solution</li>
        </ol>
      </nav>

      <!-- E-commerce Service -->
      
      <section class="container mb-md-3 mb-lg-5 pb-5">
        <div class="row">
          <div class="col-md-6 pb-2 pb-md-0 mb-4 mb-md-0">
            <div class="pe-lg-5">
              <img src="https://cdn.nimusoft.com/nimusoft/assets/img/services/service-e-commerce.png" class="rounded-3" alt="Image">
            </div>
          </div>
          
          <div class="col-md-6">
            
            <p class="d-md-none d-xl-block pb-2 pb-md-3 mb-3">
              
              E-commerce solutions give an organization the tools to create a captivating, mobile-friendly online store that can be used for local or international trade. A full Ecommerce solution with excellent page performance optimization is a requirement for a successful online store. If you want to win over your users and make speedy sales, you must offer them high-quality product photos and a mobile-friendly experience.

            </p>

            <p class="d-md-none d-xl-block pb-2 pb-md-3 mb-3">
              This is where Nimusoft e-commerce Solutions can help you remove all the hassle you face when developing an e-commerce Platform. We provide High-Converting e-commerce Website, and Mobile App with a user-friendly admin panel, delivery app, and ERP in different packages or get all in solution. Our e-commerce solution offers you a fresh start and fast growth in your business.
            </p>
           
            
            
            
            <div class="d-flex flex-column flex-sm-row">
              <a href="#" class="btn btn-primary mb-3 mb-sm-0 me-sm-3">Send request</a>
              
            </div>
          </div>
        
        
        </div>
      </section>

   
    {% endblock %}

    {% block custom_scripts %}
      
    {% endblock %}

    
    