{% extends 'base.html' %}
    
    {% block title %}
      
      <title>Nimusoft | E-commerce Solution </title>
    
    {% endblock %}
    {% block page_loader %}
    
    {% endblock %}

    {% block loading_script %}
    
    {% endblock %}
    {% load static%}
    
    {% block main %}
    
<!-- Breadcrumb -->

     <nav class="container py-4 mb-2 my-lg-3" aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
        <li class="breadcrumb-item">
        <a href="/"><i class="bx bx-home-alt fs-lg me-1"></i>Home</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">E-commerce Solution</li>
    </ol>
  </nav>
  
<section class="container pb-5 mb-2 mb-md-4 mb-lg-5">
<section class="service white-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <h2> Streamline your Ecommerce business operations with Nimusoft </h2>
                    <p>  </p>
                </div>
  
            </div>
        </div>
        <!-- =========================================== -->
        <div class="row">
  
  
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 mb-30">
                    <div class="feature-text box-shadow h-100 text-center">
                    <div class="feature-icon">
                    
                    <img src="/static/img/icon1.png"> 
                    </div>
                    <div class="feature-info">
                    <h4 class="pb-10">Product Catalogue Management</h4>
                    <p></p><p>Search and sort to find categories quickly. The ability to create and manage customized catalogs and sub-catalogs to assist in driving sales from specific customers or customer groups.Configure page URLs and SEO elements, as well as feature categories in the navigation or on the homepage.</p>
  <p></p>
                    </div>
                    </div>
                    </div><div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 mb-30">
                    <div class="feature-text box-shadow h-100 text-center">
                    <div class="feature-icon">
                    
                    <img src="/static/img/icon2.png"> 
                    </div>
                    <div class="feature-info">
                    <h4 class="pb-10">Customer Management System</h4>
                    <p></p><p>Search and sort to quickly find and manage customers' accounts, view individual customers' product reviews, details, and previous orders. Edit, delete, or add customer accounts, and efficiently manage your customers' orders.</p>
  <p></p>
                    </div>
                    </div>
                    </div><div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 mb-30">
                    <div class="feature-text box-shadow h-100 text-center">
                    <div class="feature-icon">
                    
                    <img src="/static/img/icon3.png"> 
                    </div>
                    <div class="feature-info">
                    <h4 class="pb-10">Order Management</h4>
                    <p></p><p>Order processing and management are two of the most time-consuming tasks, but an eCommerce solution can help you with that. Receive notifications for new orders and track their status to keep customers informed. Prepare shipments, adjust inventory levels, and plan for payment collection via a payment gateway.</p>
  <p></p>
                    </div>
                    </div>
                    </div><div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 mb-30">
                    <div class="feature-text box-shadow h-100 text-center">
                    <div class="feature-icon">
                    
                    <img src="/static/img/icon4.png"> 
                    </div>
                    <div class="feature-info">
                    <h4 class="pb-10">Product Information and Data Management</h4>
                    <p></p><p>Manage your product and data information to run your potentially complicated eCommerce business. With our eCommerce solution, you can easily track sales and revenues, create bundles and packages, move items into and out of inventory, schedule re-orders, and much more.</p>
  <p></p>
                    </div>
                    </div>
                    </div><div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 mb-30">
                    <div class="feature-text box-shadow h-100 text-center">
                    <div class="feature-icon">
                    
                    <img src="/static/img/icon5.png"> 
                    </div>
                    <div class="feature-info">
                    <h4 class="pb-10">Shipment Process &amp; Other Courier</h4>
                    <p></p><p>The product shipping process is the most important aspect for an eCommerce business owner to manage. Manage the shipping process easily with our eCommerce platform's customizable zone-based shipping rates and location-based delivery rates, and avoid the risk of wrong address pickups. Calculate shipping fees automatically, estimate delivery time, and provide options for faster delivery. Allow your customers to receive their orders on time.</p>
  <p></p>
                    </div>
                    </div>
                    </div><div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 mb-30">
                    <div class="feature-text box-shadow h-100 text-center">
                    <div class="feature-icon">
                    
                    <img src="/static/img/icon6.png"> 
                    </div>
                    <div class="feature-info">
                    <h4 class="pb-10">Payment Gateway</h4>
                    <p></p><p>Convert your visitors into buyers by including payment methods such as debit/credit cards, Google & mobile pay, Master or Visa cards of payment, and so on in your site using our payment gateway tools. By using our strong, functional, and secure site, you can avoid the misplacement of payment assets in traffic. You can also add various payment methods to the site while maintaining security measures. Create a trusting relationship with your clients in order to provide them with a secure payment gateway module.</p>
  <p></p>
                    </div>
                    </div>
                    </div><div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 mb-30">
                    <div class="feature-text box-shadow h-100 text-center">
                    <div class="feature-icon">
                    
                    <img src="/static/img/icon7.png"> 
                    </div>
                    <div class="feature-info">
                    <h4 class="pb-10">Warehouse Management System</h4>
                    <p></p><p>A warehouse management system can help you manage the products you sell through your eCommerce store (WMS). Simplify product pricing, automate stock level systems, and save time and money. Know exactly what you have on hand and where you can find it.</p>
  <p></p>
                    </div>
                    </div>
                    </div><div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 mb-30">
                    <div class="feature-text box-shadow h-100 text-center">
                    <div class="feature-icon">
                    
                    <img src="/static/img/icon8.png"> 
                    </div>
                    <div class="feature-info">
                    <h4 class="pb-10">Supply Chain Management</h4>
                    <p></p><p>Our eCommerce solution specializes in supply chain management (SCM) systems, which allow businesses to easily sell their products or services online. The supply chain encompasses the monitoring of a product from its conception to its consumption. This tool is concerned with the flow of materials, information, and funds. It also helps you manage your inventory, calculate taxes, and do anything else necessary to fulfill orders.</p>
  <p></p>
                    </div>
                    </div>
                    </div><div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 mb-30">
                    <div class="feature-text box-shadow h-100 text-center">
                    <div class="feature-icon">
                    
                    <img src="/static/img/icon9.png"> 
                    </div>
                    <div class="feature-info">
                    <h4 class="pb-10">API Integration</h4>
                    <p></p><p>Our eCommerce solution assists in connecting API integration, which allows your organization to automate business processes and improve data sharing and embedding between various applications and systems in order to provide better services to your clients. Our APIs system also allows you to connect your eCommerce site to a variety of other external platforms in order to streamline operations, improve customer service, and boost productivity.</p>
  <p></p>
                    </div>
                    </div>
                    </div><div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 mb-30">
                    
                    </div>
        </div>
    </div>
    
  </section>
  </section>
  {% endblock %}