
    {% extends 'base.html' %}
    
    {% block title %}
      
      <title>Nimusoft | ERP Solution </title>
    
    {% endblock %}
    
    {% block page_loader %}
    
    {% endblock %}

    {% block loading_script %}
    
    {% endblock %}
    
    
    {% block main %}

    
    
       <!-- Breadcrumb -->
       <nav class="container py-4 mb-2 my-lg-3" aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item">
            <a href="/"><i class="bx bx-home-alt fs-lg me-1"></i>Home</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">ERP Solution</li>
        </ol>
      </nav>

      <!-- ERP Service -->
      
      <section class="container mb-md-3 mb-lg-5 pb-5">
        <div class="row">
          <div class="col-md-6 pb-2 pb-md-0 mb-4 mb-md-0">
            <div class="pe-lg-5">
              <img src="https://cdn.nimusoft.com/nimusoft/assets/img/services/service-erp.png" class="rounded-3" alt="Image">
            </div>
          </div>
          
          <div class="col-md-6">
            
            <p class="d-md-none d-xl-block pb-2 pb-md-3 mb-3">
              
              The term "enterprise resource planning" has become popular in recent years and has permeated all corporate sectors. Software for enterprise resource planning systems is a customized program that enables organizations to integrate and manage their crucial activities under one roof.

            </p>
           

            <p class="d-md-none d-xl-block pb-2 pb-md-3 mb-3">
              At Nimusoft, we build ERP solutions that optimize various business operations and free up employee time which they can utilize in other ways. It can benefits your business by enhanced business reporting, improved inventory costs, better customer service, cost savings and supply chain management. We also provide better data & cloud Security.
              We develop ERP software systems for various sectors including Education, Healthcare, E-commerce, Real estate, construction, and government sectors.

            </p>
            
            
            
            <div class="d-flex flex-column flex-sm-row">
              <a href="#" class="btn btn-primary mb-3 mb-sm-0 me-sm-3">Send request</a>
              
            </div>
          </div>
        
        
        </div>
      </section>

   
    {% endblock %}

    {% block custom_scripts %}
      
    {% endblock %}

    
    