
    {% extends 'base.html' %}
    
    {% block title %}
      
      <title>Nimusoft | IOT & VR </title>
    
    {% endblock %}
    
    {% block page_loader %}
    
    {% endblock %}

    {% block loading_script %}
    
    {% endblock %}
    
    
    {% block main %}

    
    
       <!-- Breadcrumb -->
       <nav class="container py-4 mb-2 my-lg-3" aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item">
            <a href="/"><i class="bx bx-home-alt fs-lg me-1"></i>Home</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">IOT & VR</li>
        </ol>
      </nav>

      <!-- Service IOT and VR -->
      
      <section class="container mb-md-3 mb-lg-5 pb-5">
        <div class="row">
          <div class="col-md-6 pb-2 pb-md-0 mb-4 mb-md-0">
            <div class="pe-lg-5">
              <img src="https://cdn.nimusoft.com/nimusoft/assets/img/services/service-iot-vr.png" class="rounded-3" alt="Image">
            </div>
          </div>
          
          <div class="col-md-6">
            
            <p class="d-md-none d-xl-block pb-2 pb-md-3 mb-3">
              
              Business workflows for construction are managed by construction management software. Utilizing construction management systems enables contractors, property builders, and subcontractors to coordinate resources, communicate job progress, and manage projects, contracts, and budgets. 
              To offer value across the whole construction lifecycle, Nimusoft creates end-to-end construction software. We create custom software for managing your projects, resources, and finances from project planning through project closeout. On a single platform, our ERP system links teams, devices, and all company operations. All facets of construction are covered by our cloud-based solutions for the industry, including project delivery, finance and operations, time management, supply chain management, and service management.


            </p>
           
            
            
            
            <div class="d-flex flex-column flex-sm-row">
              <a href="#" class="btn btn-primary mb-3 mb-sm-0 me-sm-3">Send request</a>
              
            </div>
          </div>
        
        
        </div>
      </section>

   

   
    {% endblock %}

    {% block custom_scripts %}
      
    {% endblock %}

    
    