
    {% extends 'base.html' %}
    
    {% block title %}
      
      <title>Nimusoft | Medical Solution </title>
    
    {% endblock %}
    
    {% block page_loader %}
    
    {% endblock %}

    {% block loading_script %}
    
    {% endblock %}
    
    
    {% block main %}

    
    
       <!-- Breadcrumb -->
       <nav class="container py-4 mb-2 my-lg-3" aria-label="breadcrumb">
        <ol class="breadcrumb mb-0">
          <li class="breadcrumb-item">
            <a href="/"><i class="bx bx-home-alt fs-lg me-1"></i>Home</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Medical Solution</li>
        </ol>
      </nav>


      <!-- Medical Service -->
      
      <section class="container mb-md-3 mb-lg-5 pb-5">
        <div class="row">
          <div class="col-md-6 pb-2 pb-md-0 mb-4 mb-md-0">
            <div class="pe-lg-5">
              <img src="https://cdn.nimusoft.com/nimusoft/assets/img/services/service-mobile-solution.png" class="rounded-3" alt="Image">
            </div>
          </div>
          
          <div class="col-md-6">
            
            <p class="d-md-none d-xl-block pb-2 pb-md-3 mb-3">
              
              A hospital information management system is a complex software suite of interconnected program modules that serve to provide both information and management capabilities to a large variety of users. We develop custom online software solutions for your business according to your requirements. We will also assist you to think with the business logic of your application to come up with a better and efficient result.

            </p>

            <p class="d-md-none d-xl-block pb-2 pb-md-3 mb-3">

              The supposed users of a hospital management system may be generally divided into three categories:
              <ul>
                <li>Administrative users</li>
                <li>Medical users</li>
                <li>Non-medical users</li>
              </ul>

            </p>

            <p class="d-md-none d-xl-block pb-2 pb-md-3 mb-3">
              Each category should have a separate set of rules for clearance and restrictions within the system. So, Depending on the requirements we provide a diverse array of Management-oriented features and Patient-oriented functions, some of which are not used in other industries. These features will help you to optimize work, coordinate current resources and employees, and increase profits. Following are the key factors that we will maintain in the project:
              <ul>
                <li>Easy to use</li>
                <li>Easy to maintain</li>
                <li>Easy to upgrade</li>
                <li>Easy to integrate</li>
                <li>Easy to customize</li>
              </ul>
            
            </p>
           
            
            
            
            <div class="d-flex flex-column flex-sm-row">
              <a href="#" class="btn btn-primary mb-3 mb-sm-0 me-sm-3">Send request</a>
              
            </div>
          </div>
        
        
        </div>
      </section>

   
    {% endblock %}

    {% block custom_scripts %}
      
    {% endblock %}

    
    